[2016-02-17 21:11] adelbertc opened #9 "Fix Travis"
Travis doesn't seem to like the `collect`s in our tests https://travis-ci.org/adelbertc/frameless/builds/109806271

[2016-02-17 21:12] adelbertc opened #10 "Look into spark-testing-base"
https://github.com/holdenk/spark-testing-base

[2016-02-25 18:00] adelbertc opened #12 "Upgrade to Shapeless 2.3.0"

[2016-02-25 21:48] adelbertc opened #13 "Closer look into Travis testing"

[2016-02-25 21:53] adelbertc commented on #13
https://gitter.im/adelbertc/frameless?at=56cf773e9a059be9245e3337

[2016-02-27 17:53] OlivierBlanvillain commented on #12
I think the copy pasted `Fill` and `LiftAll` in [this file](https://github.com/adelbertc/frameless/blob/master/dataframe/src/main/scala/ShapelessExtra.scala) can be removed with 2.3.0 :)

[2016-03-03 21:40] adelbertc commented on #10
https://github.com/adelbertc/frameless/pull/8

[2016-03-03 21:40] #10 closed

[2016-03-03 21:40] adelbertc commented on #9
https://github.com/adelbertc/frameless/pull/8

[2016-03-03 21:40] #9 closed

[2016-03-15 23:08] #12 closed

[2016-03-16 08:14] adelbertc commented on #13
Seems stable-ish..

[2016-03-16 08:14] #13 closed

[2016-03-16 08:48] OlivierBlanvillain commented on #13
Yeah :D

[2016-03-30 06:05] adelbertc opened #25 "Automate SNAPSHOT publishing from Travis"

[2016-03-30 07:07] adelbertc opened #28 "Fix Scaladoc"
https://gitter.im/adelbertc/frameless?at=56fb79b5d9b73e635f6783fb

[2016-04-06 17:09] #25 closed

[2016-04-18 12:39] OlivierBlanvillain opened #32 "Add tut comparing vanilla with frameless side by side"
To have some concrete examples of the added safety.

[2016-06-04 14:23] OlivierBlanvillain commented on #32
Infrastructure setup in https://github.com/adelbertc/frameless/pull/38

[2016-06-06 12:40] OlivierBlanvillain opened #39 "Alternate column referencing syntax for TypeDataset"
It would be nice to add an alternate column referencing syntax to the `TypedDataset` API which is closer to the vanilla syntax, similarly to the way it's done in [TypeDataFrame](https://github.com/adelbertc/frameless/blob/master/dataframe/src/test/scala/TypedDataFrameTests.scala#L26).

Currently it looks like: ([source](https://github.com/adelbertc/frameless/blob/master/dataset/src/test/scala/fram

[2016-06-07 04:13] kanterov commented on #39
I was playing with this by trying implicit conversion from `Symbol` to `TypedColumn` but I wasn't able to capture symbol value on type level this way. It should be possible with implicit macro, but we should somehow minimize an amount of macro code we write ourselves and rely on tools from shapeless.

[2016-06-12 07:58] #28 closed

[2016-08-21 21:57] OlivierBlanvillain opened #41 "Rollup/cube support for TypedDataset"
https://github.com/apache/spark/blob/v2.0.0/sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala#L1179-L1225

[2016-08-21 21:58] OlivierBlanvillain opened #42 "Provide ways to build TypedDataset & TypedColumn from their vanilla counterpart"
It would allow to pass through any limitations of the current implementation by giving up type safety.

[2016-09-26 13:50] OlivierBlanvillain opened #46 "Investigate type-safe joins"

[2016-10-10 05:00] imarios commented on #39
Hey guys, I think this is a great feature and it will make writing expressions much cleaner. I was able to get this working:
[code]
Intuitively, I combined what the `col` method does to get the typed column and then feed the column to the existing `select`.

You you can do select('foo) and it works.

Unfortunately this cause a strange issue when passing a `TypedAggregateAndColumn` to select. For e

[2016-10-10 06:13] OlivierBlanvillain commented on #39
The biggest challenge with this syntax (besides IDE support) is the support full scope of Spark `Column` expressions, that is, being able to write stuff like `select('foo + 1)`.

Early work on the lib made use of shapeless' `SingletonProductArgs` macro to solve the non expression part of this problem, if you are interested here is the select [implementation](https://github.com/adelbertc/frameless/

[2016-10-10 06:45] OlivierBlanvillain commented on #39
I think we could make @kanterov idea of "implicit conversion from `Symbol` to `TypedColumn`" work in typelevel-scala:

[code]

[2016-10-10 16:56] imarios commented on #39
@OlivierBlanvillain yes, supporting expressions with select should definetly be part of ay solution.
Btw the above snippet gives this error for me:
[code]

[2016-10-11 07:49] OlivierBlanvillain commented on #39
On my setup it works with the following:

[code]

[2016-10-11 08:03] kanterov commented on #39
@OlivierBlanvillain This is awesome. Does it require Typelevel Scala to compile user code? In this case, we might still want to investigate if we can reuse macro from shapeless somehow, it would be nice if we find cheap solution instead of forcing users to switch Scala compiler :).

[2016-10-11 08:07] OlivierBlanvillain commented on #39
Yes, we would need [this PR](https://github.com/scala/scala/pull/5310) to be merged to have singelton tyles in Lightbend Scala.

[2016-10-13 08:53] OlivierBlanvillain opened #51 "Sum of Int / Short / Byte breaks because of different return type"
https://github.com/adelbertc/frameless/blob/801b5af/dataset/src/test/scala/frameless/functions/AggregateFunctionsTests.scala#L45-L48

[2016-10-13 16:50] imarios commented on #32
Moving the tut gitter discussion here. I have a pull request ready that shows some examples of working with cats and RDDs.

The question here is how do we show the compiled tut (md) documents to the users? Maybe under docs, we can have a different folder for the actual documents and then we point the generated tut files to be moved there (so they get checked in on git)? Not sure exactly how to set

[2016-10-13 17:06] imarios commented on #51
I agree with this issue. I have two related observations here. Let me show them with an example:

[code]

Fist, I think we need to add proper implicit for the 3 types mentioned in the title (Int, short, byte). Second, I think we should stay faithful to the widening that spark does. If you add a lot of Int, is better to have the result as something bigger. The idea is that spark is used for "Big Da

[2016-10-14 09:13] OlivierBlanvillain commented on #51
I agree with you comment and I think we should simply fix this such that the return type of sun matched Spark's behaviour.

[2016-10-15 02:49] imarios opened #52 "Add UDF support for frameless.TypedColumn"
This is an important and popular feature in Spark (Dataframe/Datasets) api. It will be great if we can have a typesafe version of it.

Here is a very first scratchy version (just to stir up the discussion):
[code]

Assuming the syntax from #50 is available:

[code]

[2016-10-15 16:52] imarios opened #53 "frameless.Job[A] enhancements"
- Update Job to accept a SparkSession instead of just a SparkContext (2.0 enhancement)
- The idea of explicitly wrapping Spark actions in a Job[_] allows for some interesting additions. For once, it can run a Job with a timeout option. So we can run a job and say either return the result or fail if the job takes more than 20 minutes. `runOrTimeOut(d: Duration): Validated[Error,A]`.

[2016-10-15 19:47] imarios opened #54 "Bug: Projection operations (via select) propagate problematic column names that lead to run-time failures"
Better to show this with an example:

[code]

[2016-10-15 21:36] imarios commented on #54
The simplest solution I found here is to manually rename the columns after a projection to be "_1", "_2", etc. This will works since the typecheck already made sure that the output type will be a flat tuple.

Even though this works great for select(*) we still have an issue when we apply as[A] where the types align by the names of the underline dataframe remain unchanged. This is what the second p

[2016-10-15 23:17] OlivierBlanvillain commented on #52
@kanterov I think you had some things in mind on how to implement UDF?

[2016-10-18 23:57] imarios commented on #52
Hey guys @OlivierBlanvillain @adelbertc  @kanterov , I tried to expand on the initial idea a bit. I though that at least a basic support for UDF would be good addition for 0.2. It sort of gives completeness especially if you to operate on types that we don't support with the the TypedColumn arithmetic expressions, e.g., get the length of a string. Here is what I have so far (from my [cloned repo](

[2016-10-22 14:03] OlivierBlanvillain commented on #52
@imarios I've just quickly looked the commit you liked from your for and it's look fine. Please open a PR when you're ready so that I can do a proper review!

[2016-10-24 03:59] imarios commented on #54
@kanterov @OlivierBlanvillain I think this one was fixed with #55? Maybe we can close it?

[2016-10-24 06:44] #54 closed

[2016-10-26 16:17] imarios opened #58 "Bug: Runtime error when selecting a composite field (a field that is also a struct())"
I am getting this error when I try to select a field that is also a case class (Catalyst struct). Here is a simple example that shows this:

[code]

[2016-10-26 20:27] kanterov commented on #58
The problem happens when selecting a single column that is a struct because is actually returns `Dataset[Tuple1[A]]`, we just cast it to `Dataset[A]` but this rule doesn't hold if `A` isn't primitive type, but a struct.

[2016-10-26 22:15] #58 closed

[2016-10-27 19:56] imarios commented on #52
@OlivierBlanvillain maybe we can close this one as well? Thanks!

[2016-10-27 19:57] OlivierBlanvillain commented on #52
:+1:

[2016-10-27 19:57] #52 closed

[2016-11-14 13:17] bamine commented on #51
@OlivierBlanvillain we should close the issue as it is solved by #65, right ?

[2016-11-14 13:34] #51 closed

[2016-11-16 14:26] #42 closed

[2016-11-18 13:14] dmitrybugakov opened #71 "java.lang.AbstractMethodError: org.apache.spark.sql.catalyst.expressions.Expression.doGenCode"
Hi there.

In my project i'm using versions:

val sparkV = "2.0.1"
val scalaV = "2.11.8"
val framelessV = "0.1.0"

When i tried do this :

sealed trait Gender
case object Male extends Gender
case object Female extends Gender
case object Other extends Gender

implicit val genderToInt:frameless.Injection[Gender,Int] = frameless.Injection[Gender,Int](
  {
    case Male => 1
    case Female => 2
    c

[2016-11-18 14:35] OlivierBlanvillain commented on #71
Hi @dmitrybugakov! Frameless 0.1 was built against Spark 1.6.1, which is binary incompatible with Spark 2.0.1. Until we release 0.2 (very soon), you could try working directly on the master branch...

[2016-11-18 17:59] dmitrybugakov commented on #71
Well, i will be trying, thank you.

[2016-11-20 20:12] imarios opened #72 "Bug: Sum of Int returns long in Spark but we return Int."
This leads to issues:

[code]

As you see, spark treats `_2` as `bigint` whereas we return `Int.

We should address this before 0.2

[2016-11-20 20:13] imarios commented on #72
Hey @bamine, can you take a look at this one? Thanks!

[2016-11-21 10:05] bamine commented on #72
On it :)

[2016-11-21 10:42] bamine commented on #72
Ok so when we do :
[code]
We get the desired outcome, but not when we do a group by, aggregation functions return `TypedAggregateAndColumn[T, A, U]` which extends `TypedColumn[T, U]` and `TypedAggregate[T, A]`.

On the other hand this is the signature of agg `def agg[U1](c1: TypedAggregate[V, U1]): TypedDataset[(K1, U1)]` so after putting an aggregation function in agg, we get back `A`, the origin

[2016-11-21 11:30] #71 closed

[2016-11-21 13:02] OlivierBlanvillain commented on #72
I can't really wrap my head around this after quickly looking at the code. I think this tells us that `TypedAggregate`, `TypedAggregateAndColumn`, `TypedColumn` desperately need more expressive names for their type argument, possibly with some scala-doc to complement. @kanterov could you help us here?

[2016-11-21 23:46] kanterov commented on #72
The reason why it's done this way is because we get different types when you `select` and when we `aggregate`. `A` stands for aggregated type, `U` for selected type. So signature of `sum` should be

[code]

[2016-11-21 23:51] kanterov commented on #72
I think we should add a property to check that frameless schema matches Spark schema and check it in where we use such functions.

[2016-11-22 11:17] bamine commented on #72
Got it thanks @kanterov

[2016-11-22 13:55] dmitrybugakov opened #73 "shapeless lens"
Hi there.

case class Address(street : String, city : String)
case class Person(name : String, age : Int, address : Address)

val people = Seq(Person("Mary", 32, Address("Southover Street", "Brighton")))
val ds = TypedDataset.create(people)

How i can get TypedColumn for 'address.street'?
Can i use Lens from shapless or any other way?

[2016-11-22 13:59] OlivierBlanvillain commented on #73
We have special syntax for it, which looks like vanilla Spark but uses shapeless under the hood. See [GettingStarted.md#typesafe-column-referencing](https://github.com/adelbertc/frameless/blob/master/docs/src/main/tut/GettingStarted.md#typesafe-column-referencing)

[2016-11-22 14:18] dmitrybugakov commented on #73
Ok, How i can get
`ds.select(ds('address.street))` ?
 just, it is not working.

[2016-11-22 14:24] OlivierBlanvillain commented on #73
Oh, sorry, I read you question a too fast. If you want deep selection I think the syntax is as follows:

[code]

[2016-11-22 15:14] dmitrybugakov commented on #73
That's all right. =)
But `ds.colMany('address, 'street)` - Cannot resolve reference select with such signature
because colMany return type Any.

[2016-11-22 15:26] OlivierBlanvillain commented on #73
It seams to work in tests https://github.com/adelbertc/frameless/blob/master/dataset/src/test/scala/frameless/SelectTests.scala#L271-L288. Could you try minimizing?

You might also try compiling with typelevel/scala in case you getting hit with SI-7046.

[2016-11-22 15:49] dmitrybugakov commented on #73
well, i think, my problem related with intellij idea.
because, when i'm compiling from console, it work.
Thanks.

[2016-11-22 17:31] imarios commented on #72
Hey guys, anyone working on this? Need any help?

[2016-11-22 17:41] bamine commented on #72
@imarios yes I am working on it :)

[2016-11-22 22:04] bamine commented on #72
@kanterov if `A` is for the aggregated type, and `U` for the selected type, shouldn't `TypedAggregateAndColumn[T, A, U]` extend `TypedColumn[T, A]` ? Because when using an aggregation function inside a select statement e.g. `ds.select(sum(ds('i))` we expect it to return a column with the aggregated type ?

[2016-11-23 10:53] dmitrybugakov opened #76 "When i'm trying to save type Long in table, it converted into BigInt."
issue:

[code]
But when saw in Hive table:

[code]

[2016-11-23 10:59] OlivierBlanvillain commented on #76
Can you provide an example showing how Spark behaves in this case?

[2016-11-23 11:15] dmitrybugakov commented on #76
This problem is occurring, even early
[code]

[2016-11-23 11:49] #76 closed

[2016-11-25 14:25] #72 closed

[2016-11-25 17:32] OlivierBlanvillain opened #78 "Benchmark compilation time"
Would be nice to use [shapeless.test.compileTime](https://github.com/milessabin/shapeless/blob/ab081796c183530efdd8b29dab8fee1fee7c61f9/core/src/main/scala/shapeless/test/compiletime.scala) or something to check that we don't accidentally introduce regression in compilation time.

[2016-11-25 18:26] imarios opened #79 "Bug: Self join doesn't seem right"
Let me show this with an example:

[code]

Here is how this behaves in Spark dataset.

[code]

[2016-11-25 21:23] bamine commented on #32
@OlivierBlanvillain @imarios we should close this issue I think.

[2016-11-25 21:37] #32 closed

[2016-11-26 22:34] imarios commented on #79
Hey @OlivierBlanvillain can toy take a look at this one when you have some time? I know you worked on join so you might be the best person to give some early input on this. Thank you!

[2016-11-30 13:17] OlivierBlanvillain commented on #79
Hey, I don't really see what's wrong with the frameless version, indeed results are not identical to the vanilla ones, but I feel returning `(A, B)` makes more sense than "`A ++ B`" in this case. Or how do you distinguish `i` from `i` in the dataset returned by vanilla?

@kanterov I think you write [the implementation](https://github.com/adelbertc/frameless/blob/master/dataset/src/main/scala/frame

[2016-12-01 16:48] OlivierBlanvillain opened #80 "Spores?"
Spores got [revived from the dead](http://www.scala-lang.org/blog/2016/11/30/spores-release.html), we might want to investigate how they play with frameless!

[2016-12-01 16:50] jvican commented on #80
This looks interesting, I'll have a look at what's necessary for this integration.

[2016-12-05 03:24] adelbertc opened #83 "Bump Cats to 0.9.0"

[2016-12-05 03:24] adelbertc opened #84 "sbt-release"

[2016-12-08 23:32] imarios commented on #78
just did a select() on a 72 column feature dataset
it takes 6-10 seconds to compile on the REPL
not even sure if we can make that go faster ..

[2016-12-12 05:17] imarios opened #88 "Support for UDAF"
Currently we have support for UDF only. UDAF are really useful and it will be nice if we can support them.

Relevant scala [docs](http://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.expressions.UserDefinedAggregateFunction) and [this](https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.expressions.Aggregator). The second seems to be the preferre

[2016-12-14 09:05] OlivierBlanvillain opened #89 "Support of native Map[K, V] → map<> encoder"
Source: https://gitter.im/typelevel/frameless?at=5850df5fbb7d528222f738a1

[2016-12-15 03:35] imarios opened #90 "Support more agg functions"
There are so many from spark. I think we should add few more popular (like count distinct, etc.) and then maybe have an easy way to create new ones on the fly (if someone needs one we do not have). We can use similar strategy to what we did with UDF.

[2016-12-15 03:44] imarios commented on #90
Ideally, it will be nice to unify UDAF creation and adapting an existing spark agg function that we did not include out of the box.

[2016-12-17 20:00] frgomes opened #91 "Create PDF documentation"
PDF documentation would be useful when there's no internet connection.

I've created some scripts which work well enough for ``cats``, ``dogs`` and ``fetch``, as shown below:
https://github.com/frgomes/debian-bin/blob/master/bash_30pdf.sh
https://github.com/frgomes/debian-bin/blob/master/bash_30httrack.sh
https://github.com/frgomes/debian-bin/blob/master/bash_31makepdf_cats.sh
https://github.com/f

[2016-12-17 20:29] OlivierBlanvillain commented on #91
You might be able to build something on top of #70, which is the branch we used to generate http://olivierblanvillain.github.io/frameless/. IIRC gitbook can be configured to generate pdf/ebook in addition to the static html, so you might be one config line away...

[2016-12-30 00:22] imarios opened #93 "Upgrade to Spark 2.1.0"

[2017-01-23 11:01] julien-truffaut opened #97 "Add TypedDataset.create for DataFrame"
[code]

[2017-01-23 12:26] julien-truffaut commented on #97
More generally I am trying to figure out how to parse a parquet file into a `TypedDataset[T]`

[2017-01-23 14:36] julien-truffaut commented on #97
it seems that the following is working:
[code]

[2017-01-24 08:57] julien-truffaut opened #101 "TypedEncoder for Seq"
I know that it is not generally advised to provide typeclass instance for type up in the hierarchy like `Seq`. However, it would be very convenient to have them defined somewhere (e.g. extra import) for people who are migrating existing spark project to frameless.

Currently,  spark supports `Encoders` for `Seq` of primitive, `String` and `Product`.

[2017-01-24 09:05] julien-truffaut commented on #101
btw if someone knows how to write one of these encoders, I can try to implement the other ones but at the moment I am stuck.

[2017-01-24 09:21] OlivierBlanvillain commented on #101
At least for Seq it should be similar to the one we have for [Vector](https://github.com/adelbertc/frameless/blob/master/dataset/src/main/scala/frameless/TypedEncoder.scala#L256-L296). The frameless encoders where written by reverse engineering Spark's [ScalaReflection](https://github.com/apache/spark/blob/master/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/ScalaReflection.scala), so

[2017-01-25 04:37] imarios opened #102 "Bug: Problem with custom encoders for Vector[Custom]"
@kanterov @OlivierBlanvillain  Found an issue encoding (say) `Vector[Food]` in our tests.

Here is a minimal test to reproduce the error

[code]

Running this gives the following runtime error:

[code]

[2017-01-25 18:30] kanterov commented on #101
One of the ways to approach is to write injection to `Seq`

[2017-01-25 18:38] kanterov commented on #102
Minimal reproducible example:

[code]

What happens:
- vectors for primitive types have different encodings that vectors for objects
- `Food` is object, but encoded as primitive type because of `Injection`
- encoder for `Vector` doesn't recognize it

Going to check if we can fix it.

[2017-01-28 09:24] #102 closed

[2017-01-29 21:09] imarios commented on #93
I will get this one started.

[2017-01-30 02:58] imarios opened #106 "Better bounded types for TypedDatasets"
Currently Spark' Tungsten encoder uses a `mutable.WrappedArray` to represent all sequences.

Unfortunately, both Spark and Frameless allow for Datasets to have arbitrary collections as their types (e.g., Dataset[List[Int]], TypedDatset[Vector[Int]], etc.) even though internally Spark doesn't really know anything about these types. Internally, it will treat all collections as `Dataset[WrappedArray[

[2017-01-30 03:01] imarios commented on #101
I think this topic and #106 are related: Richer collection encoders need to be address together with UDFs that type-safely operate on them.

[2017-01-31 21:17] kanterov commented on #106
It works after #99 was rebased on latest master.

[2017-02-01 22:10] kanterov commented on #106
Is it relevant? I guess everything works out of the box right now.

[2017-02-01 22:11] kanterov commented on #93
Pull request link https://github.com/adelbertc/frameless/pull/105

[2017-02-03 02:01] imarios commented on #106
@kanterov I think we can close this. Let me run some thoughts by you and let me know if I am describing what we are doing correctly.

* In Spark single entries (Rows) are represented (encoded) as InternalRow. So `Dataset[Vector[Int]]` is represented with `InternalRow(Array[Int])`. That is, there is an encoder that takes you from `Vector[Int] => Array[Int]`.
* We have a udf with this type signature

[2017-02-03 02:19] imarios commented on #106
Overall, if you want to be fast, if you want your UDFs to run fast, then it's better to have your case classes use the proper types.

[code]

Would in principle perform faster than

[code]

at least it terms of UDFs/UDAFs ?

[2017-02-03 03:41] imarios commented on #83
@adelbertc this was addressed in #96. We can safely close this.

[2017-02-03 08:43] #83 closed

[2017-02-05 06:26] imarios opened #109 "Unexpected behavior of Encoding of nested Options"
val f: Option[Option[Option[Int]]] = None

gets decoded as Some(Some(None)) instead of Node.

[2017-02-05 22:19] kanterov commented on #109
I'm not sure there is a way to fix it. Internally Spark represents `Option[Option[Int]]` as a single nullable `Integer`, so there is no difference how `Some(None)` and `None` are encoded. To fix it we have to use to customize encoding for such cases, but this would break compatibility with the rest of Spark code, so the best we can is to break compilation for cases we don't support properly.

[2017-02-05 22:23] kanterov commented on #109
Spark has exactly the same behaviour:
[code]

[2017-02-05 22:29] kanterov commented on #109
Another example of things is `X1[Option[X1[Option[Int]]]`, it doesn't work because in Spark struct itself can't be nullable, only it's fields, that's why in this case we can't find the difference between `X1#a` is `null` or `X1#a#a` is null.

[2017-02-06 04:07] imarios commented on #109
very thorough explanation! I am not sure there is anything we can do. I am not even sure if there is any difference is semantics.  For example, `None` or or `Some(Some(None))` has pretty much the same semantic for me.

[2017-02-06 09:34] OlivierBlanvillain commented on #109
It's actually possible have an unboxed option where `None` and `Some(None)` can be differentiated. [scala-unboxed-option](https://github.com/sjrd/scala-unboxed-option) uses the following trick: values are stored as themselves (thus the unboxed), and they is one "`None` value" for each level of nesting:

[code]

But that would be something to change in Spark not in Frameless :)

[2017-02-20 10:55] #97 closed

[2017-03-27 11:17] #93 closed

[2017-03-28 20:46] longcao opened #116 "New release - 0.3.0?"
It would be ✨  great ✨  to get a new release that rolls up the changes since Dec 2016, which was when [`0.2.0`](https://github.com/typelevel/frameless/tree/v0.2.0) was cut.

In particular, this would be to pick up changes that would have compatibility with Spark 2.1.0 so I wouldn't have to depend directly on the Git repo (see: https://gitter.im/typelevel/frameless?at=58d981ddb52518ed4db2fbfe), whi

[2017-04-21 23:06] alonsodomin opened #117 "'csum' and 'csumByKey' should use a CommutativeMonoid"
According to Spark docs, `reduce`, `reduceByKey`, `fold` and `foldByKey` operations in RDDs should pass in a binary commutative and associative operation. This is an excerpt from Spark 2.1.0 code:

[code]

So constraining the type to a `Monoid` is not enough as this only garantees associativity but not commutativity. These methods should be constraining in a `cats.kernel.CommutativeMonoid` in orde

[2017-04-23 20:31] #79 closed

[2017-04-24 08:05] imarios opened #121 "Bug: Filtering on Option fields does not work for None."
The example shows the problem. The expected behavior is when we select the rows that have a column as None, it should essentially translate into filtering the rows that have the field as null.

[code]

[2017-04-24 08:09] imarios commented on #121
@kanterov, can you guess why this happens?

[2017-04-24 18:47] OlivierBlanvillain commented on #117
Nice, I didn't know that Monoid and Semigroup had a Commutative version in cats, that would indeed be more appropriate! Sounds like a rather simple change, would you like to give it a shot?

[2017-04-24 19:40] imarios opened #122 "Bug: Applying aggregation functions on select() to some fields and simple projection to other causes runtime errors"
[code]

[2017-04-24 20:13] OlivierBlanvillain commented on #122
That should be a compile time error, right?

I think `TypedAggregateAndColumn` shoudn't be `<: TypedColumn`, or every thing defined in [AggregateFunctions](https://github.com/typelevel/frameless/blob/17896eb548706ca8ed1a5a61595b64b2646872dd/dataset/src/main/scala/frameless/functions/AggregateFunctions.scala) becomes usable in select...

[2017-04-24 20:15] alonsodomin commented on #117
Yes, happy to PR it, shall I go for a version using the `CommutativeSemigroup` instead of the `Monoid`? ... was also wondering whether it would be good as well to have similar safer version for the `fold` operation in the RDD but struggling to find an appropriate name for it ...

[2017-04-24 21:05] kanterov commented on #122
Hm.. I remember it worked before, probably something was changed, and we have tests only for `agg` case. We need to add tests and adjust types. And if it isn't relevant anymore for any instance of `TypedAggregateAndColumn`, then we can remove it.

[2017-04-24 22:36] imarios commented on #122
Maybe we shouldn't have TypedAggregateAndColumn to be both a column and an aggregated I agree. What was the initial idea of having it as both?

[2017-04-24 23:02] kanterov commented on #122
At some point in Spark you could `select(sum("a"))`, the problem there is a name collision between `sum` in `select` of `TypedColumn` and `sum` in `agg` of `TypedAggregate`, the idea was to create sort of union type for it :).

[2017-04-25 04:40] imarios commented on #122
Obviously this is still an issue in Spark, if you do the same thing with datasets you get a nice runtime error. The issue here is that we are trying to give you a compiler error if things should fail at runtime. So now we need to think how we can do that here.

Running aggregations in select is useful when you don't really want any subgroups to be aggregated but you need the entire thing to be agg

[2017-04-25 04:43] OlivierBlanvillain commented on #117
`CommutativeSemigroup` looks good to me :smile:

At the moment we don't have custom API for RDD like we do for Dataset, so I'm not sure where you would put something like a `reduceOption`...

[2017-04-25 19:36] kanterov commented on #122
@imarios it seems I fixed it in https://github.com/typelevel/frameless/pull/123

[2017-04-28 09:25] alonsodomin commented on #117
Apparently cats is missing commutative semigroup instances for tuples in which their elements also form a commutative semigroup...

[2017-04-28 09:31] OlivierBlanvillain commented on #117
Do they have that for `Monoid` but not `CommutativeSemigroup`? oO If so, that's probably a straightforward change to get in.

[2017-04-28 09:50] alonsodomin commented on #117
yeah, it should be, will try to chat with them in gitter to understand if there is a reason beyond my understanding to not have those

[2017-04-28 10:11] alonsodomin commented on #117
we need typelevel/cats#1527 merged into cats to have the semigroup derived instances needed to implement this.

[2017-04-29 21:03] imarios opened #124 "Bug: Filter on Vector[] fields using Vector literals does not work"
[code]

[2017-04-29 21:29] kanterov commented on #124
Hm.. does it work in vanilla Spark?

[2017-04-29 21:52] imarios commented on #124
Column to column works even in us ... column to literal seems to have the issue.

[code]

[2017-04-29 22:08] imarios commented on #124
val d = spark.createDataset( Array(1,2) :: Array(1) :: Array(2) :: Nil )

[2017-04-29 22:09] imarios commented on #124
ha, accidental click on close  :)

[2017-05-14 10:46] OlivierBlanvillain commented on #122
Fixed in #123/#129.

[2017-05-14 10:46] #122 closed

[2017-05-15 06:31] imarios opened #133 "0.4 Release: Deprecate un-optimized forwarded methods such as map/filter"
I believe we should not allow `map(f: T => U)` and `filter(f: T => Boolean)` on a `TypedDataset[T]`. These are really misleading. Those functions end up being forwarded directly to the underlying RDD and remain unoptimized. The same problems that RDDs had in terms of performance are showing up here again.

We should let `Frameless` users use the standard frameless/dataframes APIs to do these basic

[2017-05-15 06:38] OlivierBlanvillain commented on #133
Agreed, what about a very explicit syntax like the following:

[code]

[2017-05-15 06:40] imarios commented on #133
I was thinking about something similar! Maybe even make it more explicit: `typedDataSet.slowRDD.map(f).typed` :D

[2017-05-15 06:48] imarios commented on #133
Just took a look inside Spark code. It seems that Spark doesn't really forward the map to an `RDD`. It runs this similar to how it runs UDFs. The problem is still there through. If you have 20 fields in `T`, but you only use 1 inside the Map, then there is no way for Spark to know this, so it will not optimize this code as well.

Say that `T` is a `Tuple20` and you run map as a simple `select()` l

[2017-05-17 05:50] #90 closed

[2017-05-17 05:51] imarios commented on #84
@adelbertc is this to add sbt-release to work with frameless?

[2017-05-17 05:52] imarios commented on #80
Hey @jvican, are you still interested check this out?

[2017-05-17 05:53] imarios commented on #46
Hey @OlivierBlanvillain, is this still relevant?

[2017-05-17 06:05] imarios opened #135 "Support for pivot"
https://databricks.com/blog/2016/02/09/reshaping-data-with-pivot-in-apache-spark.html

Concept

[code]

[2017-05-17 06:06] imarios opened #136 "Support for Window functions"
https://databricks.com/blog/2015/07/15/introducing-window-functions-in-spark-sql.html

[2017-05-17 06:30] OlivierBlanvillain commented on #46
Yes, our support for joins is still [more than preliminary](https://github.com/typelevel/frameless/blob/7dc96d64114674914a7747b0adb9c1bf3faafbcd/dataset/src/main/scala/frameless/TypedDataset.scala#L336-L340).

[2017-05-18 04:14] adelbertc commented on #116
Done!

https://oss.sonatype.org/content/repositories/releases/org/typelevel/frameless-cats_2.11/ https://oss.sonatype.org/content/repositories/releases/org/typelevel/frameless-core_2.11/ https://oss.sonatype.org/content/repositories/releases/org/typelevel/frameless-dataset_2.11/

[2017-05-18 04:14] adelbertc commented on #84
Yep! Maybe also look into using https://github.com/Verizon/sbt-rig

[2017-05-18 07:42] imarios commented on #116
Done! Closing :)

[2017-05-18 07:42] #116 closed

[2017-05-18 07:44] imarios opened #137 "Automate documentation"

[2017-05-18 07:45] imarios commented on #88
Adding myself as a placeholder. I would love to get help if anyone is interested.

[2017-05-18 07:45] imarios commented on #53
Adding myself as a placeholder. I would love to get help if anyone is interested.

[2017-05-18 07:56] OlivierBlanvillain commented on #84
Life is too short [to build on top of sbt](https://github.com/OlivierBlanvillain/monadic-html/blob/master/release.sh) :P

[2017-05-18 08:21] imarios commented on #84
haha oh lord, it's not even bash (pure sh for the very strong)

[2017-05-26 05:50] imarios commented on #137
@OlivierBlanvillain I think the scripts you crafted essentially resolve this?

[2017-05-26 06:59] OlivierBlanvillain commented on #137
Not really, every time someone changes the docs he needs to manually run `sh scripts/docs-publish.sh` to push it live...

[2017-05-29 16:57] tscholak commented on #136
yes please, untyped window functions are a pain.

[2017-06-01 07:48] imarios opened #145 "CodeGen fails when case class fields are reserved java keywords"
It is possible to define a case class with reserve field names using back-ticks.

[code]

Fails with the following error:

[code]

[2017-06-01 09:00] imarios commented on #137
@OlivierBlanvillain I think that's good enough.. I actually prefer the main website to be updated once per release so that any new features are only advertised/documented upon release. As long as the process is streamlined/automated, I wouldn't mind having to do just this single step just before publishing a new version.

[2017-06-01 16:51] OlivierBlanvillain commented on #145
How does Spark escapes that?

[2017-06-03 13:11] tscholak opened #146 "udfs: detect closure problems at compile time"
yesterday I had to deal with an issue involving `udf`s.
spark barfed out a non-serializable exception because I had defined my `udf` like a closure. I referred to an `Int` variable that was defined in the block containing the definition of the `udf`.
this compiled fine, but exploded at runtime.
the solution was to pass that `Int` to the `udf` in the select statement as a `lit`.
would it be possibl

[2017-06-03 17:43] imarios commented on #145
Good question. It seems that Spark handles this at runtime:

[code]

[2017-06-03 18:21] imarios commented on #146
I believe this is related to #80. The whole idea behind spores is to write more controlled closures and it was targeting Spark. @tscholak if you can look into this (see if we can force ours UDFs to go over a spore), you are very welcome to  send a PR :)!

[2017-06-03 18:22] imarios commented on #146
@tscholak temporarily marking it as duplicate of #80. Let me know if I am wrong here. I can take that off. thanks!

[2017-06-03 18:23] imarios commented on #145
@OlivierBlanvillain, maybe we can have a type class that uses shapeless to check if the case class contains and reserved keywords and fail at compile time?

[2017-06-04 23:05] tscholak opened #147 "project idea: frameless-scalacheck"
Holden Karau has a project, https://github.com/holdenk/spark-testing-base, that provides scalacheck `Gen`s and `assert` helpers for `RDD`, `Dataframe`, and `Dataset`. It would be cool if there was a frameless-scalacheck sub-project with a `Gen` for `TypedDataset[A]` where `A: TypedEncoder`.

[2017-06-07 06:20] OlivierBlanvillain commented on #147
Highly related, package [this law](https://github.com/typelevel/frameless/blob/master/core/src/main/scala/frameless/Injection.scala#L5) into  something easily usable in user tests, similar to what being done with cats' laws.

[2017-06-07 06:33] OlivierBlanvillain commented on #145
Totally doable, but I would put that very low in the priority list. I'm not even sure the added safety would be the extra compilation time...

[2017-06-08 16:18] imarios opened #148 "Add .cast support for TypedAggregate"
Currently only TypedColumns can be casted. There is no reason why we should not cast TypedAggregate as well.

[2017-06-09 07:45] imarios opened #149 "Null value in any field, make the entire row return null"
In Frameless:

[code]

Here is the behavior in vanilla Spark:
[code]

-------

Here are some differences in the serializers they use:

[code]

[2017-06-09 07:45] imarios commented on #149
Hey @kanterov, any idea why the encoding works like this for us? Thanks!

[2017-06-10 17:22] imarios commented on #149
Might not be a bug. I think this is by design.

[2017-06-10 20:24] kanterov commented on #149
Hm... we never support `null`, in fact, we should probably assert that everything we got from outside isn't null.

[2017-06-14 13:20] imarios commented on #149
Closing as this is not a bug. The only nullable type we have is `Option[A]`. So this is behaving according to design.

[2017-06-14 13:20] #149 closed

[2017-06-14 20:26] imarios commented on #148
@OlivierBlanvillain addressed in #153

[2017-06-16 17:32] GrafBlutwurst opened #154 "Framless breaks with Spark 2.1.1"
Reproduce:
- Install Spark 2.1.1
- Execute:

`val lines = spark.read.textFile(fileName).typed
lines.show`

Expected: TypedDataset[String]

Result:

Exception Details:
  Location:
    frameless/TypedDataset.joinLeft(Lframeless/TypedDataset;Lframeless/TypedColumn;Lframeless/TypedColumn;Lframeless/TypedEncoder;Lframeless/TypedEncoder;)Lframeless/TypedDataset; @178: invokevirtual
  Reason:
    Type 'o

[2017-06-16 18:21] imarios commented on #154
@GrafBlutwurst if you have time, can you try with 2.1.0 and see if it works with that version. I think I tried it with 2.1.0 few months back and I didn't notice anything breaking. thank you!

[2017-06-17 14:43] GrafBlutwurst commented on #154
@imarios I tried it out but it still crashes with 2.1.0

[2017-06-20 11:19] tbfenet commented on #154
This error seems to be fixed by building frameless against 2.1.1. I think there is still an issue with old version of shapeless that is now a indirect dependancy of spark ml.

[2017-06-20 11:22] tbfenet opened #156 "Spark 2.1.1 has dependancy on old version of shapeless"
Due I think to upgrading of breeze. Caused NoSuchMethodError exception once deployed

[2017-06-20 12:11] GrafBlutwurst commented on #154
that might be possible. Is there a way to employ shading to verify this?

[2017-06-20 12:31] OlivierBlanvillain commented on #154
As indicated in the README, frameless is compiled against Scala 2.11.x and Spark 2.0.x. If you try to use frameless with binary incompatible versions of the libraries it's been compiled against, you will experience runtime error.

[2017-06-20 12:56] imarios commented on #154
Yes, at some point we will need to move to a different version so this we might have to address eventually. From the error, this doesn't seem to be a shapeless binary compatibility issue. I think it might have to do with some internal Catalyst changes concerning CreateStruct.

[2017-06-20 13:00] OlivierBlanvillain commented on #154
See #157

[2017-06-20 13:01] OlivierBlanvillain commented on #156
Could you provide more info? What version of shapeless is Breeze using? Is it possible to update Breeze to the latest version?

[2017-06-20 13:23] tbfenet commented on #156
I found this http://apache-spark-developers-list.1001551.n3.nabble.com/shapeless-in-spark-2-1-0-td20392.html
I tried shading shameless  but it stop  frameless working from zeppelin REPL. I think maybe spark should be shading shameless

[2017-06-20 13:27] OlivierBlanvillain commented on #156
I'm afraid I won't be able to help without something I can reproduce on my machine. Could you try writing a minimal example with an `sbt` build to showcase the issue?

[2017-06-20 16:14] tbfenet commented on #156
It might be tricky reproducing with sbt. I only hit this problem when deploying to EMR. SBT will evict the old version of shapeless when you build against spark. It is only when you deploy on existing spark setup that you will have problems. This is more a heads up. I think this should be fix in spark as it will effect any one using an up to date version of shapeless. I tried shading shapeless usi

[2017-06-20 16:56] OlivierBlanvillain commented on #156
I see, I guess there is nothing we can do on our side. Inlining shapeless or downgrading to 2.0.0 is out of the question, your only option is to fix your build or your runtime...

[2017-06-20 16:56] #156 closed

[2017-06-20 17:14] imarios commented on #156
I know that this is closed, but I am actually having this concern as well for using Frameless in prod. Do you know which module brings that in for Spark? we can try to send a PR to spark to try to upgrade to the latest version of Shapeless. Thank for bringing this up!

[2017-06-20 17:20] OlivierBlanvillain commented on #156
It's Breeze apparently, and it's [already up to date with shapeless](https://github.com/scalanlp/breeze/blob/57ee7d633d755781ff7d41beac9feb0bd03f3c39/math/build.sbt#L14).

[2017-06-20 17:23] OlivierBlanvillain commented on #156
And Spark is [already up to date](https://github.com/apache/spark/blob/master/pom.xml#L668) with Breeze :smile:

[2017-06-20 17:24] imarios commented on #156
That's odd ....

[2017-06-20 17:24] imarios commented on #156
maybe @tbfenet runtime has Shapeless brought in by something else? (other than Spark).

[2017-06-20 17:27] OlivierBlanvillain commented on #156
Unless your runtimes are running publish-local version of Spark master it's gonna be the previous version of Breeze ([this is the PR upgrading it](https://github.com/apache/spark/pull/17746/files#diff-600376dffeb79835ede4a0b285078036L661)), which I guess pull in an old version of shapeless

[2017-06-20 17:29] OlivierBlanvillain commented on #156
Yep, [Breeze 0.12 bring in shapeless 2.0.0](https://github.com/scalanlp/breeze/blob/releases/v0.12/math/build.sbt#L69), full dig up complete :hole:

[2017-06-20 17:31] imarios commented on #156
great investigation ! :)

[2017-06-20 17:35] imarios commented on #156
So I guess this is not just an issue with 2.1.x. I assume that Beeze 0.12 has been a Spark dependency for quite a while ...

[2017-06-21 09:14] tbfenet commented on #156
Sorry, I forgot that the original problem was on spark 2.1.0(EMR did not have 2.1.1) but I checked 2.1.1 and it was still using breeze 0.12. spark master is now 0.13

[2017-06-21 09:19] OlivierBlanvillain commented on #156
I guess you could hack your way around by recompiling shapeless using with a different package name, recompile frameless against that custom version of shapeless and package the result for EMR. This is what shading is supposed to do but at source level...

[2017-06-21 09:35] tbfenet commented on #156
I am not sure why shading did not work in the REPL. Seems assembly plugin does not change all references. I might refactor api so TypeDataset is not exposed which should allow me to shade shapeless.

[2017-06-22 07:50] #154 closed

[2017-07-19 19:13] tscholak commented on #109
@kanterov what about things like `TypedDataset[Tuple1[Vector[Option[Vector[Option[A]]]]]]`? I'm actually using this ...

[2017-07-19 19:16] kanterov commented on #109
@tscholak hm... good question, probably the best is to add to the test suite, AFAIK should work if `A` is primitive

[2017-07-19 19:20] tscholak commented on #109
In my case, `A` is primitive, yes. I didn't have any problems with it so far, but just to be sure that it doesn't break any laws, I can add it to the tests.

[2017-07-20 23:03] Voltir opened #160 "Frameless dies on large number of columns"
I have a CSV with 91 columns, although im not very surprised, im still a little sad that this kills the frameless:
[code]

[2017-07-20 23:33] Voltir commented on #160
Er, i lied - sorry for the noise!

[2017-07-20 23:33] #160 closed

[2017-07-20 23:36] imarios commented on #160
@Voltir :D so happy you did. Thanks for bothering to open a ticket! Please let us know for anything that you like and anything you don't like.

[2017-07-21 00:16] Voltir commented on #160
Er, is the 0.4.0-SNAPSHOT published anywhere? Doesn't look like it was on sonatype, but my real problem was using spark 2.1.1, but in the meantime publishLocal worked for me.

[2017-07-21 19:15] tscholak commented on #160
@voltir afaik no 0.4.0-SNAPSHOT built has been published so far, but you can easily include the master repository into your sbt project:
[code]

[2017-07-21 23:00] Voltir opened #161 "AnyVal blows up TypedEncoder / Injection"
[code]
Im using CustomerId in a larger Product type, if I decide to uncomment the //extends AnyVal I get a lovely explosion in a catalyst.codegen step:

(P.S - It seems odd that i have to explicitly add the field _encoder -- for some reason, the implicit def for usingInjection isnt being implicitly found - but im not ruling out me forgetting something basic about implicits)

[code]

[2017-07-21 23:03] imarios commented on #161
Good catch! Ok, can you remove the injection? Any case class should be straightforwardly encoded without Injection.

[2017-07-21 23:15] imarios commented on #161
The following works just fine for me:

[code]

Can you provide a minimal example that showcases this issue?

[2017-07-22 13:59] kanterov commented on #161
I've reproduced this issue with following code:

[code]

There are 3 related issues:
1. `TypedEncoder` derivation isn't friendly if you have both injection and case class, or regular `AnyVal` class with a single field.
2. `Invoke` in Spark always assumes that output is nullable unless it's a primitive type, therefore codegen isn't optimal, it was fixed in Spark 2.2.0, we should start using `return

[2017-08-08 09:28] #146 closed

[2017-08-08 09:29] #91 closed

[2017-08-08 09:46] OlivierBlanvillain opened #163 "Missing Dataset methods"
Here is an exhaustive status of the API implemented by `frameless.TypeDataset` compared to Spark's `Dataset`. We are getting pretty close to 100% API coverage :smile:

Won't fix:

- [ ] Dataset<T>  alias(String alias) *inherently unsafe*
- [ ] Dataset<Row>  withColumnRenamed(String existingName, String newName) *inherently unsafe*
- [ ] void  createGlobalTempView(String viewName) *inherently unsaf

[2017-08-08 09:49] OlivierBlanvillain opened #164 "Missing Columns method"
Axhaustive status of the API implemented by `frameless.TypedColumn` compared to Spark's `Column`. It's split into two, the methods implemented directly on `Columns`, and the methods comings from  `org.apache.spark.sql.functions._`

### Column methods

Won't fix:

- [ ] Column  alias(String alias) *inherently unsafe*
- [ ] Column  apply(Object extraction) *inherently unsafe*
- [ ] Column  as(String

[2017-08-22 23:49] jacobBaumbach commented on #88
I'd like to give this a go, if no one else has already started on it.

[2017-08-23 17:41] imarios commented on #88
Hi @jacobBaumbach ! sorry for the delay! we would love your help. Feel free to ask for any help. Best!

[2017-08-23 17:43] imarios commented on #164
Hi @OlivierBlanvillain ! thanks for adding this! I think some are not relevant, like anything that has to do with "null" I actually replaced all of those with "isNone" "isNotNone". I don't remember in which PR I did that and I am not sure that is merged. I have to take another look.

[2017-08-25 09:36] GrafBlutwurst commented on #164
I'm in the groove of implementing those functions anyway will start mid-late september most likely. thanks for listing them all @OlivierBlanvillain !

[2017-08-25 11:57] OlivierBlanvillain commented on #164
@imarios It would be an interesting to try implementing these without affecting performance, getting there would be amazing!

@GrafBlutwurst Awesome, hopefully most them are really straightforward to implement, and with your `bivariatePropTemplate`/`univariatePropTemplate` helpers testing that is trivial!

[2017-08-27 01:57] chenharryhua opened #167 "build for spark 2.2.0"
current release 0.3.0 is built against spark 2.0.2 which is not binary compatible to 2.2.0 because the Invoke case class was changed.

[2017-08-31 01:29] palmerlao opened #168 "Cannot use `colMany` to access anything wrapped in `Option`"
[code]

The last line resulted in
[code]

What I think is reasonable is to return something of type `TypedColumn[A, Option[Int]]`. For comparison, in regular Spark:
[code]
which I would expect `as.select(as.colMany('ob, 'i).show().run` to be roughly equivalent to up to some decisions on whether to display `null` or `None`.
Perhaps a reasonable way to approach this problem is to integrate the colum

[2017-09-01 02:41] imarios commented on #168
I have an alternative proposal here.

What is we have a way to flatten schema's with Optional fields.

Example:

[code]
What happens here is that `df` may have any of its fields `null` (hence the `Option` type). When we do the flatten, it essentially filter outs any null values and goes from `Option[A]` to `A`. It will do that for any optional fields.

@palmerlao Do you think this would solve your

[2017-09-01 02:45] imarios commented on #167
@chenharryhua thank you for bringing this up! We have already made some changes to move to 2.1.0. Maybe the current master doesn't have this issue. If you have time to verify this with the current build that would be awesome.

[2017-09-01 04:21] palmerlao commented on #168
Let me know if this is what you mean. In your example, say that `df` was made by
`TypedDataset.create(Seq((Some(1), Some(2)), (None, Some(4)), (None, None)))`.
Then your proposed `flatten` would give me `dfFlat.collect.run` something along the lines of
`Seq((1, 2))`?
It would be tough to make that work for my use case. Unfortunately, we work with highly denormalized data and nulls are very common.

[2017-09-01 04:25] imarios commented on #168
I see what you mean

[2017-09-01 18:10] Voltir commented on #167
We have a local snapshot (0.4.0) that builds against spark 2.2.0 - all tests pass there.

[2017-09-03 05:50] chenharryhua commented on #167
I checked the code (case class Invoke) in spark: org.apache.spark.sql.catalyst.expressions.objects.
compared two versions, 2.1 and 2.2. looks like there are identical.

[2017-09-04 08:32] iravid opened #171 "Consider replacing Job with F[_]: ApplicativeAsk[?, SparkSession]: Effect"
`Job[A]` is currently, as I understand it, a suspension of an `A` thunk that is provided with an implicit `SparkContext`.

Since we now have `cats-mtl` and `cats-effect`, we can abstract over this type. This is useful for running Spark actions in monad stacks - for example, we'd like to run this in a `ReaderWriterStateT` with monix's `Task`.

Would love to hear thoughts. If this sounds good, I'd b

[2017-09-04 08:47] OlivierBlanvillain commented on #171
Sounds good to me! We had a discussion about replacing `Job` by a type in cats, but the effect story was still being worked out. If things stabilized I see no reason not to use the standard. The biggest implication will be to add a dependency on `cats-core` for the main `frameless` project.

Also keep in mind than purity with Spark is always an approximation given than all operations even if lazy

[2017-09-04 09:03] iravid commented on #171
Cool. Regarding  your last paragraph- very true. We actually just wrap all Spark calls in `Task.eval` :-) is this something you’d like to address in frameless?

[2017-09-04 09:22] OlivierBlanvillain commented on #171
I have a feeling that it would be a bit heavy...

[2017-09-04 09:51] iravid commented on #171
Agreed :-)

[2017-09-05 06:09] #121 closed

[2017-09-05 06:09] imarios commented on #121
Fixed bt #152

[2017-09-05 06:16] imarios commented on #124
This seems to have been resolved with #152.

[2017-09-05 06:16] #124 closed

[2017-09-10 05:44] imarios commented on #53
Closing as #171  is a superset of what this issue was tracking.

[2017-09-10 05:44] #53 closed

[2017-09-10 17:16] imarios commented on #135
Addressed by #150. Closing

[2017-09-10 17:16] #135 closed

[2017-09-14 05:18] imarios commented on #133
Closed by #141.

[2017-09-14 05:18] #133 closed

[2017-09-14 18:13] JivanRoquet commented on #167
When trying to construct a TypedDataset with Spark 2.2.0, I have the following error:

[code]

Code which triggered this error:
[code]

This error does not appear when building against Spark 2.0.0.

[2017-09-14 18:29] imarios commented on #167
Hi @JivanRoquet, are you using 0.3.0 or 0.4.0-SNAPSHOT? The 0.3.0 had this issue and is solved in current pre-release version. Can you try 0.4.0-SNAPSHOT and let us know if it has the same issue?

[2017-09-15 08:25] JivanRoquet commented on #167
Hi @imarios could you indicate me how to use 0.4.0? Trying to set `val framelessVersion = "0.4.0"` triggers an unresolved dependency error. Same for `0.4.0-SNAPSHOT`.

[2017-09-15 09:56] OlivierBlanvillain commented on #167
@JivanRoquet

[code]
Then use `val framelessVersion = "0.4.0-SNAPSHOT"` in your build :)

[2017-09-15 12:06] JivanRoquet commented on #167
Thanks, the import is working fine now. However, I'm running into another problem (which, again, does not happen with Spark 2.0.0):

[code]

Faulty line is, again:
[code]

[2017-09-15 12:07] OlivierBlanvillain commented on #167
@JivanRoquet Could you create a reproducible example and open a new issue?

[2017-09-15 12:45] JivanRoquet opened #174 "Build for Spark 2.2.0 — NoSuchMethodError at frameless.RecordEncoder"
Running Frameless 0.4.0-SNAPSHOT on Scala 2.11.8 and Spark 2.2.0.

This bug appears when trying to convert an existing (properly functioning) Spark Dataset to a Frameless TypedDataset, with the `TypedDataset.create()` method.

**This bug does not happen when building against Spark 2.0.0 (everything else being equal).**

This is the content of `src/main/scala/Run.scala`:

[code]

Content of `ports.

[2017-09-15 12:45] JivanRoquet commented on #167
@OlivierBlanvillain done — issue https://github.com/typelevel/frameless/issues/174

[2017-09-15 19:00] imarios commented on #174
Hey @kanterov, do you know if our 0.4.0-SNAPSHOT is constantly getting updated after every build or do we manually have to publish it? Maybe the current snapshot doesn't have the fixes from @OlivierBlanvillain related to this. This can of course be something new. Just want to make sure that we are testing this on current master. (I will probably do this test on my machine when I get the time.)

[2017-09-16 14:57] iravid opened #178 "Consider renaming TypedEncoder's methods"
Since `TypedEncoder` is a encoder to Catalyst datatypes and decoder from Catalyst datatypes, I propose to rename its methods as following:
- `constructorFor` => `fromCatalyst`
- `extractorFor` => `toCatalyst`

This is very subjective, but I found the existing names quite confusing, so I thought I would suggest this.

[2017-09-16 23:28] #167 closed

[2017-09-16 23:43] OlivierBlanvillain commented on #174
Thanks for the nice reproduction! It seems to be fixed after #176.

[2017-09-16 23:43] #174 closed

[2017-09-17 05:40] #171 closed

[2017-09-17 05:42] imarios commented on #178
I already comment them so that I don't get confused. Changing the name is the next big step there :)

[2017-09-17 08:50] iravid opened #182 "Parameterize TypedEncoder over nullability"
This came up while working on the map encoder for #177. Maps with null keys are illegal in Spark, which means that we cannot encode a `Map[Option[A], B]`.

I had one idea for enforcing this statically - adding another type parameter on `TypedColumn` that expresses nullability:
[code]

and then in the map encoder:
[code]

Any thoughts?

[2017-09-17 09:27] OlivierBlanvillain commented on #182
A type function might be less intrusive:

[code]

[2017-09-17 11:09] iravid commented on #182
Indeed. I like that!

[2017-09-17 12:35] kanterov commented on #178
I think this is a good idea, originally these names were from Spark itself, that is often confusing in practice. We might want to rename `source` and `target`  data types fields as well.

Just a note, we need to be clear about this in release notes, because it's breaking for any custom implementation of encoders.

[2017-09-17 12:42] kanterov commented on #182
I like an idea of type function. This way we can describe things in https://github.com/typelevel/frameless/issues/109. Not what is the best way to derive it though. It looks doable for `Nullable[T]`, and `NotNullable` can be expressed as an absence of `Nullable`. Is there any good way to do this nowadays?

[2017-09-17 12:43] kanterov commented on #182
Also related to https://github.com/typelevel/frameless/issues/168, we should be able to compose nullable columns.

[2017-09-17 16:57] iravid commented on #182
Cool. https://stackoverflow.com/a/15983103 describes a way of implementing a `Not[TC[_]]` typeclass.

[2017-09-17 17:20] iravid commented on #182
I'll prototype this in #177.

[2017-09-18 12:18] OlivierBlanvillain commented on #178
Sounds good, I propose `jvmRepr` and `catalystRepr`

[2017-09-18 19:15] tscholak opened #183 "a select statement with two or more `explode` operations should not compile"
Consider:

[code]

`res1.collect().run()` evaluates correctly to an empty `Seq[Int]`.

However, `res2` should either not compile or evaluate to an empty `Seq[(Int, Int)]`. Right now `tds.select(explode(tds('_1)), explode(tds('_1)))` throws:
[code]

[2017-09-19 15:40] OlivierBlanvillain commented on #183
Is the expected fix to turn `tds.select(explode(tds('_1)), explode(tds('_1)))` into a compile time error?

[2017-09-19 15:49] tscholak commented on #183
Yes, unless there is a way to rewrite
[code]
into
[code]
and so forth

[2017-09-21 05:23] #178 closed

[2017-09-21 18:04] iravid opened #186 "Provide a way to construct a `TypedColumn` reference from a Symbol"
Currently, we cannot chain selects that reference columns introduced in a select without introducing intermediate vals. Here's a (contrived) example:
[code]

One possible solution for this would be to provide an overload to `TypedDataset.select` that uses `Symbol` arguments and a similar `frameless.functions.col` function.

[2017-09-21 19:19] iravid commented on #164
Just saw this ticket - @OlivierBlanvillain could you elaborate on why `functions.col` and `Column.name` are unsafe? Assuming we provide versions that use shapeless Witness and verify that those symbols exist in `T`

[2017-09-21 19:52] OlivierBlanvillain commented on #164
Edited, nice catch! Indeed there not reason not to built a Witness powered version of that! (they are probably functions marked TODO that don't make sense, I didn't spent much time on each entry).

[2017-09-23 08:13] OlivierBlanvillain opened #188 "Named intermediate Datasets"
[code]

This is nicely *named* and *typed*! However, after a select, the names are completely lost:

[code]

The best one can do with the current API is to define a new case class for the intermediate representation, and use `.as[]` to get a `ds1` with useful columns names.

Somes idea to workaround this issue:

- Use a macro to generate a case classes "on the fly", something like this:

[code]

-

[2017-09-23 08:16] iravid commented on #188
Thanks @OlivierBlanvillain, could you provide some historical perspective on the second approach? It seems similar to the old `TypedDataFrame` description in the docs but I am not aware of how Spark behaved back then.

[2017-09-23 08:27] OlivierBlanvillain commented on #188
I think we don't need anything special from Spark here. If instead of a `Tuple2` we use something like the following:

[code]

Then it's possible to write a type function from `"baz"` to `2`, and use it to compute `ds('_2)` from `ds("baz")`, which mean we don't even need to change anything from our runtime. Of course it's also possible to *not* rename the columns and keep the original names for on

[2017-09-23 08:32] iravid commented on #188
Certainly. I agree that this should not change anything in how we interact with Spark.

Reading again the docs for `TypedDataFrame`, I see it is unrelated so I retract my previous comment.

In any case, I am in favour of using shapeless records for this as it looks like a far more maintainable approach for the project, albeit one sacrificing IDE-friendliness and compile times. Both of those might

[2017-09-23 08:38] iravid commented on #188
Regarding naming, I suggest for simplicity to avoid fresh name synthesis and always use tuple column names unless the user has specifically `.alias`'d a projection's column.

[2017-09-24 03:50] iravid commented on #186
Yes, with some limitations to type inference, discussed there

[2017-09-24 04:25] imarios commented on #186
I think we tried this a couple of times over the past year and always type inference was stopping us from having something that works in a useful way. Probably the macro approach that @OlivierBlanvillain suggest is probably the best way to go. Also, @jeremyrsmith alternative select macro was kind of solving a similar problem.

[2017-09-24 04:55] iravid commented on #186
Yes, there’s very little flexibility if T is a type parameter on the column.

I personally find this better than nothing currently but understood if you disagree :-)

Macros are very attractive usage wise, yes, but I have a feeling they’d present a maintenance challenge to the project compared to shapeless-based approaches.

[2017-09-24 05:48] imarios commented on #186
If I remember correct, the issue with this approach  is that it will work great under some context and not under something else; which makes the API kind of "clumsy".

I do get the issue with macros, and personally I barely understand what is going on there. At the same time, I do believe that not all macros are evil. Some macros are worst than others. If the macro is simple enough and solves an i

[2017-09-24 06:03] iravid commented on #186
Btw - can you point me to the macro suggestion you’re referring to?

[2017-09-25 17:16] imarios commented on #186
Hi @iravid, that's #110.

[2017-09-26 19:09] iravid commented on #186
Ah thanks for pointing out @imarios. How would #110 solve this usecase though? You still need to name the intermediate dataset for this usecase.

For example, this doesn't work:
[code]

But this does:
[code]

[2017-09-27 06:41] OlivierBlanvillain opened #189 "Array[Char] encoder"
It should be fixed in Spark 2.2.1/2.3.0, see #177

[2017-09-28 06:32] rbraley commented on #164
I can try to handle some of these as a first contribution to the repo :)

[2017-10-08 04:09] imarios opened #193 "Array encoders break on take/collect"
[code]

[2017-10-08 04:10] imarios commented on #193
Hi @jeremyrsmith, can you take a look at this issue?

[2017-10-09 03:38] imarios commented on #193
Hey @iravid, maybe you can also see what is going on here? Thanks!

[2017-10-09 05:09] iravid commented on #193
Yes, I’ll try and look into this tonight.

________________________________
From: marios iliofotou <notifications@github.com>
Sent: Monday, October 9, 2017 6:38:20 AM
To: typelevel/frameless
Cc: Itamar Ravid; Mention
Subject: Re: [typelevel/frameless] Array encoders break on take/collect (#193)

Hey @iravid<https://github.com/iravid>, maybe you can also see what is going on here? Thanks!

—
You ar

[2017-10-15 15:09] #193 closed

[2017-10-21 21:40] imarios commented on #183
@OlivierBlanvillain  @tscholak  The idea I have is to add explode on the TypedDataset rather than the TypedColumn. After an explode you return something that doesn't allow explode any more (I have to think of a nice way to do that without having to use an alternative TypedDataset with a bunch of delegations.

[code]

[code]

[2017-10-21 21:44] imarios opened #198 "Add CI tests over a remote Spark cluster"
* Bring a very basic cluster up and then deploy a toy Frameless project packaged  using sbt-assembly
* Read data back/forth from Paraquet
* Read data back/forth from CSV and JSON

[2017-10-21 21:47] tscholak commented on #198
maybe as a first step it should be investigated if there is a way to run the tests in cluster mode on travis.

[2017-10-21 21:48] tscholak commented on #198
here is something useful: https://github.com/holdenk/spark-testing-base/blob/master/.travis.yml

[2017-10-21 23:05] tscholak commented on #183
that's not how you want to use explode, though, is it?
when I write
[code]
I'd like to keep column `_1` while exploding `_2`.

[2017-10-21 23:12] tscholak commented on #183
Ah, I just realize that you don't need the "return something that doesn't allow explode any more" restriction. You can chain arbitrary many `explode`s on a `TypedDataset` if you define each one of them as a select that keeps all columns as is except for the one that is exploded.

[2017-10-21 23:22] imarios commented on #183
Your first explode registers which column you need exploded the follow up  selects choose the rest. I think that should work no?

Sent from my iPhone

[2017-10-22 02:55] tscholak commented on #183
Yes, I first thought your explode was only keeping the exploded column.

Just to be sure, you want something like this on `TypedDataset[T]`:
[code]
where `Explode.Aux[T, V, A, Out]` would be derived automatically. That should be possible without annotating `Out` if `V[A]` appears only once in `T`.

[2017-10-22 03:04] imarios commented on #183
hmm, this might work. So I re-write it with the exploded column unwrapped. It shouldn't be a problem to do another explode after that, as long as the 2 explodes are not on the same select statement.

[2017-10-22 03:06] tscholak commented on #183
yeah, my thoughts exactly!

[2017-10-30 20:17] imarios opened #202 "Support union() that align types"
In spark, if you union datasets with the same columns names but in different order, it causes issues: https://issues.apache.org/jira/browse/SPARK-15918.

In frameless we can align the fields if possible during unioning thus bypassing this limitation.

[code]

[2017-11-01 21:51] imarios commented on #89
@iravid I think we have this now right? Should we close?

[2017-11-01 21:51] imarios commented on #101
@iravid I think we have this now right? Should we close?

[2017-11-02 05:27] iravid commented on #101
Yes, addressed by #195

[2017-11-02 05:28] iravid commented on #89
Yes, addressed by #195

[2017-11-02 12:26] #89 closed

[2017-11-02 12:26] #101 closed

[2017-11-08 17:54] imarios opened #204 "Allow column operations on 'Option[X]' that are valid for 'X'"
In Frameless if you have a column that may contain `null` values you should encode it using `Option[]`. This is great and typesafe, but it does make working with these columns harder. For example, you cannot do simple math operations, like *,+,-. I think there is a clear strategy here, if the result is null then the result of the operation will also be null (that's what vanilla Spark also does).

[2017-11-09 09:16] OlivierBlanvillain commented on #204
If you want to factor out these two function I guess you could parametrise over a higher kinded type to have a function that works on both `Id` and `Option`:

[code]

But that doesn't sound very clean to me, this operation you are describing is simply map, I would much rather like to see that in source (it should be possible to do that without generating anything different at runtime):

[code]

[2017-11-09 13:48] imarios commented on #204
Nice :) it is a map().

[2017-11-10 06:15] imarios commented on #204
Here is a quick implementation for map.
[code]

Here is how to use it (needs the types, inference doesn't work there).
[code]

[2017-11-10 07:10] OlivierBlanvillain commented on #204
It is even possible to change the type of a columns with such map? If you remove `G` and add it via an implicit class you might be able to avoid annotating types

[2017-11-10 13:54] ireactsam opened #205 "Support java.sql.Date and java.sql.Timestamp so they work just as in plain Spark datasets."
Given the following snippet:

[code]

in plain Dataset you can use:
[code]

but in TypedDataset this results in an AnalysisException
[code]

[2017-11-11 00:06] imarios commented on #204
@OlivierBlanvillain it can generate a different type. For example, devision on an integer results to a double.

I also discovered that Spark shows some rather interesting behaviors with `nulls`. For example, `null * 2 = null` (makes sense), `null / 2 = 0.0` ... interesting. So if we leave it up to Spark, then we have to somehome think that these are reasonable conversions?

[2017-11-11 09:59] OlivierBlanvillain commented on #204
I would always wrap results in `Option` when `Options` are involved :smile:

[2017-11-12 17:02] ireactsam commented on #205
I managed to define a TypedEncoder[java.sql.Date] as:
[code]
together with adding to `CatalystOrdered`:
[code]
I can now do:
[code]
I should look in doing a PR...

[2017-11-15 11:21] OlivierBlanvillain opened #207 "TypedDataset.selectMany & co capped at arity 22"
Due to their used of `shapeless.ops.hlist.Tupler`, `withColumn`, `selectMany`, `aggMany` and `groupByMany` are limited to output tuples of size 22. There could be several ways around that, a simple option would be to add alternate implementations of these methods that take a type argument for the "targeted" case class (instead of using tuples). I would start by fixing `withColumn` which looks like

[2017-11-15 11:24] iravid commented on #207
The bigger issue at hand is the usage of tuples rather than records, right?

[2017-11-15 11:26] OlivierBlanvillain commented on #207
Indeed! But switching to a record representation would be much bigger of a change. We went back and forth between the two options and stick to this one because it's close to vanilla and tries to not expose types from `shapeless._` to end users...

[2017-11-15 11:27] iravid commented on #207
Ok. Perhaps we should revisit this question as I'd love to solve #188 :-)

[2017-11-23 13:42] atamborrino commented on #207
From my work on https://github.com/typelevel/frameless/pull/206, I have also wondered why we do not work with TypedDataset of records directly, as it will simplify a lot TypedTransformer/TypedEstimator code flow by removing the need to write each intermediate transformed case class.
I do also understand the idea to not expose shapeless to end-users. But I guess people interested in using frameless

[2017-11-25 22:12] frosforever commented on #207
Not sure if this is the right issue (#188?) to chime in on this, but as I start using frameless in anger, I too would put a vote toward supporting record types and exposing shapeless to the end user.

[2017-11-26 04:25] imarios commented on #204
@OlivierBlanvillain here is an alternative syntax that has better type inference:

[code]
Usage:
[code]

I am not supper fun of it ... i would love to hear you input.

[2017-11-26 04:38] imarios commented on #204
Another @OlivierBlanvillain is this kind of type inference better in dotty ? : )

[2017-11-26 05:09] imarios commented on #204
hmm ... there is a problem to allow for any `TypedColumn[T, X] => TypedColumn[T, G]`. Spark can handle `null * 2` and will return `null` but this does not work as smooth for UDFs. So if we apply a UDF in our `TypedColumn[T, X] => TypedColumn[T, G]` it will not handle null correctly and will fail.

[2017-11-26 09:58] OlivierBlanvillain commented on #204
I'm fine with the syntax. About UDF, I guess we could restrict them a bit to make incompatible with .opt.map, for instance: `df.udf.apply(myUdf)`.

[2017-11-26 18:55] imarios commented on #204
@OlivierBlanvillain I am not sure how we can restrict the use of UDFs inside `map()`. A udf takes a column as input and generates a column as output. If you see map inside Mapper, it's just a function that takes a column and returns a column. I feel that anyone can throw a udf in there and there is nothing we can do to constrain that.

[2017-11-27 09:44] OlivierBlanvillain commented on #204
Inheritance could do the trick: (I'm not saying than this is a good idea, but it should be possible :smile:)

[code]

[2017-11-28 19:46] NicolasRouquette opened #211 "Compilation errors when SmartProjecting to a case class of 1 field"
Here is the reproducible example: https://gist.github.com/NicolasRouquette/cdd32780af2fbfc35ad1b50583a86715

Although this example uses a covariant tagged type mechanism inspired by Shapeless and by S. Compall's discussions [here](https://failex.blogspot.com/2017/04/the-high-cost-of-anyval-subclasses.html) and [here](https://failex.blogspot.com/2017/04/and-glorious-subst-to-come.html), I don't bel

[2017-11-29 06:24] NicolasRouquette opened #213 "Increase the tuple size that TypedDataset.select can handle from 10 to 14"
Since automatic derivation of projections does not work currently (as of 0.4.0) with covariant tagged typed fields in case classes, I have to write my own projections and ran into the limit of 10 columns for `TypedDataset.select`. 14 is enough for me.

[2017-11-29 06:27] NicolasRouquette commented on #213
Examples of custom `SmartProject` for an API that uses covariant tagged types extensively:
https://github.com/JPL-IMCE/gov.nasa.jpl.imce.oml.frameless/blob/master/src/main/scala/gov/nasa/jpl/imce/oml/frameless/OMLSmartProjects.scala#L27

[2017-11-29 07:40] imarios commented on #213
`select` up to 10 argument is just for IDE friendliness. There is `selectMany extends ProductArgs` that should work for up to 22.

[2017-11-29 16:19] NicolasRouquette commented on #213
Thanks @imarios for the suggestion.

I tried first on a single case to make sure I did it right.
Before, I had this:

[code]

I refactored using `selectMany` like this:

[code]

That compiled fine. So I updated my code generator for the whole enchilada.
Now, I get compilation errors for a few cases where the arity is 5 and 14.

For example:

[code]

I get this (formatted) error:

[code]

Somehow,

[2017-11-29 17:00] OlivierBlanvillain commented on #213
I think it's going very hard to debug problems in the output of code generation, could you try to provide hand written, minimized examples that could easily be added to the test suite? It looks like most of the types and arguments in the code you posted was never supposed to be written in source, but should instead be all inferred by the compiler.

[2017-11-29 17:14] NicolasRouquette commented on #213
Ah, I figured out what's going on: ambiguous implicits!

The 5-arity select helper is defined as follows:

[code]

I had refactored my code as shown above; in particular:

[code]

This didn't compile but the error is unfortunately unhelpful:

[code]

The problem is that there are two implicit variables with the same type:

`e_restrictedDomainUUID` and `e_restrictedRangeUUID` have type `TypedEncode

[2017-11-29 17:17] OlivierBlanvillain commented on #213
I'm glad you figured it out :smile:. Note that you are not supposed to write these implicits by hand. End user code should basically contain zero `implicit val` or `implicit def`.

[2017-11-29 17:40] NicolasRouquette commented on #213
Wow! Thanks @OlivierBlanvillain and @imarios!
I removed the implicits and the `selectMany` just works; it looks like this now:

[code]

Now I would be glad to get rid of this implicit altogether; however, I can't because of this line:

[code]

Here, I have:

[code]

Where `covariantTag.@@` is defined as:

[code]

So this gives me a subtyping relation on the tagged types:

``` taggedTypes.EntityExi

[2017-11-29 18:01] NicolasRouquette commented on #213
This issue is now moot.

[2017-11-29 18:01] #213 closed

[2017-11-30 10:14] atamborrino opened #215 "meta-issue: frameless-ml"
Meta-issue to list what has been done in frameless-ml and what remains to be done.

# Abstractions

- [ ] Implement `TypedPipeline`, the type-safe equivalent of Spark ML pipeline (https://spark.apache.org/docs/2.2.0/ml-pipeline.html#pipeline)

# Typed transformers
- [ ] TF-IDF
- [ ] Word2Vec
- [ ] CountVectorizer
- [ ] Tokenizer
- [ ] StopWordsRemover
- [ ] nn-gram
- [ ] Binarizer
- [ ] PCA
- [ ]

[2017-12-17 15:57] iravid commented on #182
Closing; this was resolved in #177.

[2017-12-17 15:57] #182 closed

[2018-01-16 00:59] #117 closed

[2018-01-19 05:25] imarios commented on #211
I really can't reproduce this using more conventional examples:

[code]

Another example:

[code]

[2018-01-19 05:28] #106 closed

[2018-01-20 14:46] OlivierBlanvillain opened #232 "Type Spark’s Structured Streaming"
We are currently missing these two Dataset method:

- DataStreamWriter writeStream()
- Dataset withWatermark(String eventTime, String delayThreshold)

That require some understanding of Spark streaming to be properly typed and tested. Here is the relevant documentation if anyone is interested and getting started on that:

https://spark.apache.org/docs/latest/structured-streaming-programming-guide.

[2018-01-25 22:53] longcao opened #234 "SQLDate/SQLTimestamp may be encoded inconsistently"
Hey there,

I've singled out what I think could be an inconsistency with Frameless encoding `SQLDate`/`SQLTimestamp`, in that the underlying schema can change silently to `int`s and `long`s. This becomes an issue when I expect to be able to write out `date` and `timestamp` fields using Spark's `DataFrameWriter` using a specified `dateFormat` or `timestampFormat`.

The real world problem that I ran

[2018-01-27 20:34] imarios commented on #204
I have a fix for this that requires the changes we are doing to unify the projection and aggregation column types.

[2018-01-29 03:56] #202 closed

[2018-01-30 03:36] imarios opened #237 "Project entire dataset to a single column"
Is there a way to create a (key,Foo) dataset using select() and not resort to using the deserialized Api?

Feature suggestion from @runebarikmo.

[code]

[2018-01-30 05:18] #148 closed

[2018-01-30 17:38] imarios opened #239 "Optional aggregation columns shortcut the computation to an empty dataset"
so it seems that if during an aggregation the first aggregate returns null, then it doesn't even care about the next results, it just returns nothing. Going to look if this is a Spark bug and not a Frameless one. Nope, the issue seems to be on our side of the fence

[code]

Test that fails randomly due to this issue (NonAggregateFunctionsTests.scala).

[code]

[2018-01-30 17:39] imarios commented on #239
@OlivierBlanvillain, this was the reason master was failing. The doesn't doesn't always break only when it happens to generate an empty Option.

[2018-02-01 05:09] imarios commented on #234
@longcao should we close?

[2018-02-01 05:09] #211 closed

[2018-02-01 05:42] imarios commented on #205
@ireactsam Interestingly, this only fails on the REPL. If you run it outside the REPL (say in a unit test), everything works.

[2018-02-01 14:02] #234 closed

[2018-02-01 15:33] #189 closed

[2018-02-09 04:16] imarios opened #247 "Implicit derivation for CatalystOrdered"
Spark can compare arbitrary structs as long as it has a way to compare their corresponding fields.

[code]

Currently this will not compile in Frameless unless you manually implement the `CatalystOrdered` typeclass for `Foo`. We can do better by implicitly deriving an instance of CatalystOrdered for case class that have fields we know Catalyst can order.

[2018-02-12 20:48] mfelsche commented on #168
This is also an issue the we got bitten by lately. Unfortunately we cannot adapt our model and thus, for now, need to use some hacky non-typechecked workarounds, which makes me sad.

I am way to new to shapeless and frameless to make a valuable contribution here, but I really hope that this is in general solvable.

[2018-02-12 21:34] imarios commented on #168
I was hopping to get this working in https://github.com/typelevel/frameless/issues/204, but I hit a wall with UDFs. The idea is to be able to do a map on an optional column `TypedColumn[T, Option[X]]` and then get back an unwrapped `TypedColumn[T,X]` so you can do anything you would if the Option was not there. I will probably try to do some work around this for the 0.6.0 release (0.5.0 is already

[2018-02-16 13:45] mfelsche opened #256 "Serialization to parquet does not work for Option fields"
In my [fork](https://github.com/mfelsche/frameless/blob/parquet-serialization-bug/dataset/src/test/scala/frameless/forward/WriteTests.scala) i added a test case that shows that

**frameless is failing to deserialize what it serialized to parquet whenever there is a `None` for an `Option[<case class>]` field**.

Fumbling with this issue and experimenting with different settings i found out that the

[2018-02-16 15:44] nightscape opened #257 "Problems writing a Injection for a refined type"
Hi all,
I'm trying to write an `Injection` that converts back and forth between a [refined type](https://github.com/fthomas/refined) and a primitive type:
https://gist.github.com/nightscape/adba260f7f7a3943417858004cd70d43
However, I'm running into an exception which seems to happen before the `Injection` is even applied:
[code]

The problem looks somewhat similar to https://github.com/typelevel/f

[2018-02-17 04:16] imarios commented on #256
Thank you very much for this detailed analysis! I agree, and this is something I really want to work on in the next few month, we need to as close as possible to what spark does for serde. In few areas we have diverged a bit, Options is one, UDFs and literals are another.

[2018-02-17 04:18] imarios commented on #257
Hi Martin, thank you for reporting this! Let me take a look and get back to you.

[2018-02-17 04:41] imarios commented on #257
I have the suspicion that this is a REPL issue. If you have the time and try it in a non REPL example, I would love to hear if it's still an issue.

So, I managed to get the REPL example working in ammonite by defining a TypedEncoder for the refined type directly without going via the injection route and it work (albeit in a bit of a hacky way).

[code]

[2018-02-18 01:09] nightscape commented on #257
The problem persists when running outside a REPL (full SBT project).
I debugged a little and it seems that refined is doing some magic in order to make the refined type appear as a primitive. E.g. the generated companion object does have a method `public SomeId SomeId$.apply(java.lang.Integer)` but none with a `Refined` argument. It seems there is an implicit conversion in place from a `Refined` i

[2018-02-20 10:33] #237 closed

[2018-02-22 09:58] Avasil commented on #247
Is there something else to add to this issue?

[2018-02-22 10:12] #247 closed

[2018-02-27 08:47] ayoub-benali commented on #46
@OlivierBlanvillain now that joins in 0.5.0 have been [reworked](https://github.com/typelevel/frameless/blob/v0.5.0/dataset/src/main/scala/frameless/TypedDataset.scala#L442) I guess this can be closed ?

[2018-02-27 09:42] #46 closed

[2018-03-03 04:18] imarios opened #262 "Support for Spark 2.3.0"
We should cross compile 2.3.0 for 0.5.0. Maybe as a 0.5.1.

[2018-03-03 04:32] imarios commented on #262
We will require changes to Lit and UDFs. Janino is complaining during code gen.

[2018-03-06 20:15] bhop commented on #164
Hi Guys, just added my first PR with a typed `substr` column method. Let me know what you think about it

[2018-03-13 11:14] szdavid92 opened #269 "Unexpected null equality"
In SQL
[code]
results in `NULL`, which is a falsy value when used in `WHERE`, so eg.
[code]
returns an empty table.

However in Scala, both `null == null` and `None == None` are `true`.

Consequently these [two lines](https://github.com/typelevel/frameless/blob/master/dataset/src/test/scala/frameless/FilterTests.scala#L132-L133) should not pass.

[2018-03-13 13:37] szdavid92 commented on #269
Also, frameless's current behavior is incompatible with Datasets

[code]

Strangely, @kmate 's PR #267  seems to resolve this problem within case classes.

[2018-03-15 13:00] Avasil commented on #41
I think this can be closed (implemented in #246)

[2018-03-15 13:03] #41 closed

[2018-03-22 02:24] smdmts commented on #262
Hi, Currently frameless v0.5.0 could not use in Spark v2.3.0. Perhaps Spark got binary compatible breaking changes...

[code]

[2018-04-02 23:45] frosforever commented on #204
Hey just wanted to check in on this and offer up this very slight modification that I've been using if it helps anyone in the meantime: (in `AbstractTypeColumn`)
[code]

It behaves the same way as the above `opt` but handles `TypedColumn` or `TypedAggregate` for use in `agg` etc. I find this pretty much essential to work with options in frameless.

[2018-04-05 01:30] sammynammari opened #272 "Frameless built against Java 6 instead of Java 8"
Inspecting any `.class` file inside the `frameless` jar shows that it was compiled against Java 6:

[code]

However, Spark 2.2.0+ [only supports Java 8+](https://spark.apache.org/docs/2.2.0/#downloading):

A consequence of this is that `TypedDataset.createUnsafe(...)` produces the following exception:

[code]

When I run an `sbt console` within the `frameless` project locally using JDK 1.8, everyt

[2018-04-05 01:32] sammynammari commented on #262
@smdmts I'm experiencing the same issue, and I suspect that it's because Spark 2.2.0+ only supports Java 8+, and `frameless` is compiled against Java 6. I opened an issue about it here: https://github.com/typelevel/frameless/issues/272

[2018-04-05 03:48] imarios commented on #272
@sammynammari thank you very much for reporting this. It makes perfect sense to have the compiled bytecode be 1.8 compatible. I will be creating a PR for this shortly.

[2018-04-05 05:02] imarios commented on #269
Hi @dszakallas, thank you for bringing this up. I remember working on this maybe a year ago. We made some changes so you can compare a column with an optional literal.

For example, these would work in Frameless land:

[code]

But they would not work for Dataframe:

[code]

[2018-04-05 05:05] imarios commented on #269
I see now how this might contradict the SQL standard, but I think most Frameless users would expect  `dataset.filter(A =!= None)` to behave as it behaves now and not how  `SELECT 1 WHERE NULL = NULL` would work ... not sure if there is an easy choice here. Did this cause any unforeseen issues for you?

[2018-04-05 06:09] sammynammari commented on #272
@ceedubs gave me the idea to check :) happy to help!

[2018-04-06 23:34] imarios commented on #269
Again thank you from bringing this up. It's great that you looked into this in such detail.

I personally believe that in the case where A and B are Option[Int]  `dataset.filter(A === B)` should behave in the same way a scala collection would.

I am all in favor for adding this to the documentation. If you want to achieve what vanilla Spark gives you for `untyped.filter($"a" === $"b")` then you ha

[2018-04-06 23:36] #272 closed

[2018-04-07 16:51] #262 closed

[2018-04-07 16:56] imarios commented on #256
@mfelsche  is this solved after #267? Can I close this bug?

[2018-04-07 16:58] imarios commented on #136
@frosforever I think we can close this one, right?

[2018-04-07 17:10] frosforever commented on #136
Once https://github.com/typelevel/frameless/pull/248 is merged, yes. Adding more window functions can come in later PR but the basic support will be there.

[2018-04-09 21:02] OlivierBlanvillain commented on #204
@frosforever Looks pretty neat! Given than it's not a method from vanilla Spark we would a bit more documentation to get it in, but I definitely how it would be useful!

[2018-04-09 22:51] imarios commented on #204
Still has the same sensitivity with UDFs. I wanted to try to get this working with UDF but has not been that easy. Needed to better understand how the UDF operates internally. Do you think we can add this even though it has a UDF bug and just maybe document it somewhere?

[2018-04-10 13:30] frosforever commented on #204
Yes, in my view, we should something like this in to at least make it workable in the meantime, with a caveat comment. We've already merged some things that don't behave well (eg ordering with spark 2.2 https://github.com/typelevel/frameless/pull/236#issue-165606115) and this, or something like it, is essential for working with real world data that's very often full of `Option`s.

Sadly, I don't h

[2018-04-11 16:42] imarios opened #279 "Type safe casting support for nested types"
`.as[X]` work as long as X is not a nested class. We would want the following example to compile, whereas now it does not.

[code]

[2018-04-12 11:29] OlivierBlanvillain commented on #279
The fix should be very simple, [here is](https://github.com/typelevel/frameless/blob/master/dataset/src/main/scala/frameless/ops/As.scala) the current implementation of `As` that needs to be extended to be recursive.

[2018-04-14 03:00] imarios opened #280 "Test Frameless key functionality using real-word dataset (CSV, JSON, Paraquet)"
Currently we don't have enough tests that work with real data. We also don't have enough tests that test the readers and the encoding for common formats like CSC, JSON, Parquet, etc.

[2018-04-14 13:35] SemanticBeeng commented on #280
Looking to use `frameless` and interested to validate as well.
Please provide more input on
`#1` "real data": public data sets or synthetic?
`#2` is performance testing in scope as well?
`#3` how would you like to manage the data sets used for test? (separate repo, etc)

[2018-04-14 13:54] SemanticBeeng opened #282 "Use Avro as schema in TypedDataSet"
Would it make sense to be able to introduce support for `avro` schema for `TypedDataSet`?

The current code defines schema based on the `SparkSQL` "language":  https://github.com/typelevel/frameless/blob/576eb675dbd121453679a57ae7117e4fb53d9212/dataset/src/main/scala/frameless/TypedDatasetForwarded.scala#L43-L44

On the other hand `frameless` use a Scala types based "schema" to define data sets.

[2018-04-15 06:25] imarios commented on #282
Everything around shapeless and implicit derivation works around `case classes`, so we can't really take that out of the picture. The right way to approach this is to keep the `case classes` as the main way to define a schema but have different ways to get to how this `case classes` are created.

There are ways (typically code generators) that take a schema defined externally (say, avro or protoco

[2018-04-15 07:08] SemanticBeeng commented on #282
Yes, this is central, ofc.

Yes, indeed, main design principle.
This is already at the basis of `frameless`, it seems - have not see it stated explicitly, though.
And the direct dependency on the `spark` schema seems to raise a question it, so, worth confirming.

Yes, `avro4s` does that very nicely.

But, on top of this, I am suggesting

1. Putting the `avro` schema as a bit higher level than `spa

[2018-04-15 13:54] SemanticBeeng commented on #137
[`specs2`](https://etorreborre.github.io/specs2/guide/SPECS2-2.4.17/org.specs2.guide.UserGuide.html) has excellent support for this

https://github.com/etorreborre/specs2/blob/master/guide/src/test/scala/org/specs2/guide/CaptureSnippets.scala#L16-L23

Willing to consider port?

[2018-04-15 17:41] OlivierBlanvillain commented on #137
This issue is about automating the publication of http://typelevel.github.io/frameless/ from the output of tut, so specs2 is out of scope. But I guess what we have at the moment is good enough, so let's close this for now...

[2018-04-15 17:41] #137 closed

[2018-04-15 18:04] OlivierBlanvillain commented on #280
Doesn't really matter for me, I guess it would be easier with real data?

It would be nice to validate but from what I could observe so far we are 1-on-1 with Spark everywhere.

Monorepo all the way :heart:

[2018-04-17 12:06] mfelsche opened #284 "Assertion in UnsafeRow "sizeInBytes should be a multiple of 8""
We just tried to upgrade our pipeline to Spark 2.3 and thus frameless 0.6.0 and hit some nasty assertions in sparks UnsafeRow. We have assertions enabled in our codebase. We tried to reproduce the issue in the frameless repo, but found that `-ea` was not provided for the tests.

Here is the PR introducing them in Spark 2.3: https://github.com/apache/spark/pull/18503/files

As it seems, during code

[2018-04-17 12:07] mfelsche commented on #284
Here is a listing of frameless tests that fail with assertions enabled:

[code]

[2018-04-17 12:10] snadorp commented on #284
[code]

[2018-04-17 17:31] snadorp commented on #284
@imarios I just checked our test cases against Spark 2.2.1 and Frameless 0.5.1. All good, this issue seems only to be related to Spark 2.3.0 in combination with Frameless 0.6.

[2018-04-17 18:30] kmate commented on #284
It would be very careful if we could create a minimal failing test case for this problem.

[2018-04-17 19:57] mfelsche commented on #284
@kmate I totally agree. So here is one: https://github.com/typelevel/frameless/compare/master...mfelsche:assertion-sizeInBytes?expand=1

Playing around with it, the problematic flow seems to be something along those lines:

`(A, B) -> select(A.a, B.b).as[C] -> groupBy(a * 1000).agg(sum(b)) -> as[C]`

But i am not 100% positive this is actually the smallest reproducing case.

[2018-04-17 20:16] mfelsche commented on #284
The issue also exists with spark 2.2.1 and frameless 0.5.1 - there is just no assertion being hit as it was not yet introduced in spark.

[2018-04-17 21:03] imarios commented on #284
@mfelsche makes sense why it shows up only with 2.3.0. @snadorp do you want to open a PR for adding this extra flag?

[2018-04-17 21:07] snadorp commented on #284
@imarios sure can do, CI just won't like it. :)

[2018-04-18 06:38] OlivierBlanvillain commented on #284
I had a look yesterday and it looks like we have a problem with our record encoders. I started from [this test](https://github.com/typelevel/frameless/blob/master/dataset/src/test/scala/frameless/CreateTests.scala#L21) (with minimized to use X1 instead of X4), but couldn't find a small way fix it.

I'm tempted to redo the complete encoder logic from scratch, it's not so much work, simply translate

[2018-04-19 01:28] kmate commented on #284
If there would be a solution to use Spark's own encoders for the types it supports, and derive only the ones that it doesn't, that would be great. If someone could do this encoding upgrade soon that would be very great. I tried to find some holes in my calendar to do this, but it's not likely now that I have time for this work.

[2018-04-19 06:33] OlivierBlanvillain commented on #284
@kmate It's a bit tricky because these parts of Spark are implemented with closed recursion, meaning we could only reuse them for "leaf types". It would also be conceivable to drop all the non default encoders and stop supporting extensibility via user defined encoders or `frameless.Injection`, but that would be a step back...

I think a better option would be to unit test that whatever encoders o

[2018-04-22 14:11] #284 closed

[2018-04-22 14:14] OlivierBlanvillain commented on #284
Good job :smile:

I'm in a bit uncomfortable knowing that we don't generate exactly the same encoders than current Spark, but if we things are working in their current state I don't see a reason to rework all that logic...

[2018-04-22 15:56] mfelsche commented on #284
Thanks a million @kmate !!!

I will check our codebase and will report if this resolves our issues completely (i assume yes).

Maybe it makes sense to start the unit/property bases testing of the structural equality of the spark and framless encoders?

[2018-04-22 17:30] OlivierBlanvillain commented on #284
Testing is the fun part, the painful part is re-doing all the work to port [RowEncoder.scala](https://github.com/apache/spark/blob/master/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/encoders/RowEncoder.scala) and [ScalaReflection.scala](https://github.com/apache/spark/blob/master/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/ScalaReflection.scala) to implicits to catch up

[2018-04-23 09:34] kmate commented on #284
I also started to do some work related to testing frameless encoders agains Spark encoders. Unfortunately, it is not trivial to compare expressions (eg. each Alias contains an increasing expression id). I think we are not so far from Spark's encoder implementations now, anyway. See details in #287.

[2018-04-24 12:36] sullivan- commented on #269
What's the behavior in joins? It would seem like this would be the most problematic case. If I am going to do an inner join on two columns with null values, then my result will contain the cross product of the rows with null.

[2018-04-24 18:49] dszakallas commented on #269
[code]

[2018-04-25 18:43] imarios commented on #269
ok, so this starts looking more like a problem. I didn't think about the implication of this for joins. We can start treating this as bug.

[2018-04-26 00:48] sullivan- commented on #269
@dszakallas Were you interested in looking in to fixing this? I'm poking around for an issue to work on, this one seems pretty tractable for someone new to the project. So if you are not going to take it up, I might make a try.

@imarios I'm impressed with your open-mindedness on this one.

[2018-04-26 01:34] sullivan- commented on #124
@imarios if this is fixed perhaps we could uncomment this line:
https://github.com/typelevel/frameless/blob/master/dataset/src/test/scala/frameless/FilterTests.scala#L38
also lines 58 & 77 same file.

I would just uncomment and submit PR but the "fails randomly" part makes me cautious 😀 . I could try it and run the test a few times to see if it's good. Do you have a sense of how many runs would be

[2018-04-26 10:56] dszakallas commented on #269
@sullivan- feel free to pick up this issue.

[2018-05-01 22:23] denisgarci opened #292 "Projection from `Option[B]` to `B`"
Hi I'm using frameless 0.5.1 and I want to make the following projection `(A, Option[B]) -> (A, B)` after doing a `.filter(b.isNotNone)` of course. Is there a way to do that currently without using a map?
Not sure if it can be done, because of the signature of `filter, maybe a special method could be introduce for that.
Also thanks for the great piece of software!

[2018-05-02 01:04] sullivan- commented on #292
Try this:

[code]

It would be neat if we could do something like `Seq.collect` [1]:

[code]

This could probably be implemented by combining existing `TypedDataset` methods `filter` and `map`. Of course, the method name `collect` is already taken.

[1] https://www.scala-lang.org/api/current/scala/collection/immutable/Seq.html#collect[B](pf:PartialFunction[A,B]):scala.collection.immutable.Seq[B]

[2018-05-02 19:55] denisgarci commented on #292
@sullivan- Thanks for the suggestion. I was indeed talking about doing that without going to `deserialized`. Another possibility is to combine `filter(b.isNotNone)` and `select(b.getOrElse)`. This can be hard if there are no obvious "zero" for B.

[2018-05-02 20:17] denisgarci commented on #292
@sullivan- Thanks for the suggestion. I was indeed talking about doing that without going to `deserialized`. Another possibility is to combine `filter(b.isNotNone)` and `select(b.getOrElse)` as suggested by @imarios . This can be hard if there are no obvious "zero" for B.

[2018-05-02 20:50] burakkose opened #293 "Add KeyValueGroupedDataset"
I saw that there is a plan to implement (https://github.com/typelevel/frameless/issues/163)
`KeyValueGroupedDataset<K,T> groupByKey(scala.Function1<T,K> func, Encoder evidence3)`

However, to reach this goal, first, we need to integrate `KeyValueGroupedDataset`

[2018-05-03 04:43] imarios commented on #269
Thank you both for looking at this in such depth. @sullivan- feel free to send a PR for this, that would be awesome.

[2018-05-03 04:44] imarios commented on #279
Closing since this was fixed with PR #288

[2018-05-03 04:44] #279 closed

[2018-05-03 04:47] imarios commented on #293
Hi @burakkose, do you want to give this a go? I think it makes for a good first ticket

[2018-05-04 05:47] imarios commented on #183
I am kind of stuck here. @OlivierBlanvillain

Here is what I have for explode (a method inside TypedDataset).

[code]

[code]

I would expect this
-> [1, [1,2]], [2, [2]]

to become this after the "explosion"
-> [1, 1], [1, 2], [2, 2]

[2018-05-04 08:50] OlivierBlanvillain commented on #183
@imarios If you point me to a commit with this compilation error I can have a look. My first guess is that column.T is lost somewhere, I would try using a dedicated type parameter instead of a type member. (`column: Witness.Lt[Symbol] { type T = Columnt_T }`, then used `Columnt_T` instead of `column.T`)

[2018-05-04 17:52] imarios commented on #183
Thank your for the quick feedback! I will try to create a PR that show this up and give a try to your suggestion.

[2018-05-04 18:12] imarios commented on #183
The fixes here should also address #292 in the same PR.

[2018-05-04 18:15] imarios commented on #282
@SemanticBeeng sorry for taking long to reply. I am on board to make the proper changes if need to have the code generated by avro4s to be compatible with Frameless schema. I think there was a similar ask by @codeexplorer regarding scalaPB.

[2018-05-12 10:00] SemanticBeeng commented on #282
From an implementation point of view alone, `avro4s` and `scalapb` are quite different: `scalapb` generates very complex classes, mostly because the `protobuf` workings require it.

Because of that, a few people consider a poor way define domain models.

Please review

1. `protoless` https://github.com/julien-lafont/protoless

Two step code generation (protobuf -> java, java -> scala)
And if you w

[2018-05-21 23:50] imarios commented on #183
addressed by #295

[2018-05-21 23:50] #183 closed

[2018-05-21 23:52] imarios commented on #292
Will start working on this shortly.

[2018-05-31 17:53] ceedubs opened #300 "Usage of "private" Spark APIs"
Frameless is depending on portions of Spark for which there is no binary compatibility commitment. For example, Frameless uses `StaticInvoke`, which is part of the `org.apache.spark.sql.catalyst.expressions.objects` package. If you look at the (bountiful) [mima exclusions](https://github.com/apache/spark/blob/master/project/MimaExcludes.scala#L366) in Spark, the entire `org.apache.spark.sql.cataly

[2018-06-01 19:53] imarios commented on #300
Thank @ceedubs, I always worried a bit about this. Databricks and other fork's runtimes will be an issue and that's at least something we have to document.

I have not extensively analyzed if we absolutely need to do this, but I am afraid that some of the encoding work we have require some APIs that are not exposed as public by core Spark.

[2018-06-01 20:47] imarios opened #301 "TypedDataset[A].as[X] should work if there is an Injection from A to X"
**why?**
Often when you `Inject[A,B]` you are left to work with type `A` whereas, in reality, the encoded underlining type is `B`. Let's say you encoded `org.joda.DateTime` as Long and you want to subtract 2 seconds out of it. You cannot really do that using col('a) - 2 since the type you work with during implicit derivation is `org.joda.DateTime` which will not work with math operations. If you c

[2018-06-02 03:19] imarios commented on #301
@OlivierBlanvillain what do you think about this one?

[2018-06-02 05:55] OlivierBlanvillain commented on #301
I approve :sun_with_face:

[2018-06-02 12:54] OlivierBlanvillain commented on #300
I had no idea about these mima exclusions, it's really unfortunate... Anything actionable on our side?

[2018-06-04 23:43] ceedubs commented on #300
@OlivierBlanvillain If there were ways to reduce dependencies on sections of code under these exclusions, that would be great. Short of that, the actionable item might be to just warn about this in the README. I'd be willing to contribute this documentation, but it might be a little while before I get to it.

[2018-06-05 19:00] tejasmanohar commented on #205
New to frameless (and shapeless and so on). Why do we need to write out the `Injection` in general? Spark has a built-in implicit date encoder (`org.apache.spark.sql.Encoders.DATE`).

[2018-06-05 23:54] tejasmanohar opened #302 "Actual SQL support?"
For complex queries, I find that reading SQL broken up into `df` variables is actually much easier to read than code. Since frameless appears to be hooking into Spark's catalyst compiler anyways, I wonder-- would it be possible to apply compile-time safety to SQL queries and their mapped types?

[2018-06-06 00:27] longcao commented on #300
Another anecdote: Technically speaking, I believe EMR Spark is also a fork as they've backported changes before (but much less often), so it's entirely possible that some bincompat issue can happen there as well.

[2018-06-07 06:45] OlivierBlanvillain commented on #205
@tejasmanohar Did you see [this page](https://typelevel.org/frameless/Injection.html)? On typical use case would be that your entire application is based around joda-time, so you naturally also want to manipulate them in your Spark tables.

[2018-06-07 09:17] OlivierBlanvillain commented on #302
It's possible, you would need to write a SQL parser + type checker and call it from a white box macro. Besides the `TypedEncoder` typeclass, I don't think you would be able to reuse any of the infrastructure that's currently implemented in Frameless.

[2018-06-07 16:29] tejasmanohar commented on #302
Fair enough, nevermind! The DSL is growing on me anywyas

[2018-06-07 16:29] #302 closed

[2018-06-08 00:16] imarios commented on #300
@ceedubs @longcao these are great "warnings" to add. I will create a PR with the edits. If @ceedubs get to this faster even better! :)

[2018-06-11 19:52] imarios opened #303 "Test Frameless on Spark to 2.3.1"
Create a new release in case it's needed.

[2018-06-12 05:34] imarios commented on #303
0.6.1 seems to be working quite smoothly with Spark 2.3.1. Will update when all the tests pass.

[2018-06-17 21:38] #303 closed

[2018-07-01 23:10] imarios commented on #292
#307 fixed it

[2018-07-01 23:10] #292 closed

[2018-07-16 13:46] schernichkin opened #317 "Make sparkSession property "val"."
sparkSession property of DataSet declared as val. This allows use it to import Spark implicits. Same should be done in the TypedDataset.

[2018-07-25 12:13] snadorp commented on #163
`<A,B> Dataset explode(String inputColumn, String outputColumn, scala.Function1<A,TraversableOnce<B f)` is not working for Map type columns. Whereas vanilla Spark supports it.

[2018-07-25 15:55] imarios commented on #163
Yes, I was not able to fit Map because it’s type signature has two holes compared to one for all other. We can have an overloaded method just for Map I think.

[2018-08-08 17:42] pgrandjean commented on #168
Got the same issue.

[2018-08-31 19:07] leobenkel opened #319 "No implicits found for parameters i0: TypedColumn.Exists..."
I am starting to use Frameless and I encountered an issue and cannot find any answers in the documentation.
I am using version `0.5.2`.
[code]
This last line gives me:
```No implicits found for parameters i0: TypedColumn.Exists[RawDataRow, Witness.Lt[Symbol]#T, A_], i1: TypedEncoder[A_]```
in IntelliJ.

I have
[code]
 in the container of this code.
And on top of my file I have :
[code]

Thank you.

[2018-08-31 21:54] leobenkel opened #320 "Feature: transformation"
[code]

this allow to do things like:
[code]

Before that I had to do :

[code]
makes it a bit cleaner.

[2018-08-31 21:54] leobenkel commented on #320
But I am having issue making a similar thing when the input and output of the method are different types. Like `Seq[String] => String` instead of `A => A`

[2018-09-03 08:41] OlivierBlanvillain commented on #319
Can you create a self contained test case that I could reproduce on my machine (for instance by forking the repo and committing a new test case)? Your description missing the definition of `MyCaseClass`.

[2018-09-03 08:46] OlivierBlanvillain commented on #320
How would you do that in vanilla Spark?

We usually try to keep the Frameless API as close as possible to the original ones, so if the goal is simply to save one line (val udf = `a.makeUDF(myMethod)`), I think they are little chances of this getting into master...

[2018-09-04 16:19] leobenkel commented on #319
After investigating further. The code compile and run successfully, it is just IntelliJ throwing warning.

[2018-09-04 16:35] leobenkel opened #321 "The right way to convert a column ?"
Hello,
I am starting with Frameless and I am having a hard time converting my code based on spark-Dataframes to the Frameless framework.
The blocking point I reach now is how to override a column.

Let's say I have a dataframe with `col1,col2,..., myColumn` .
`myColumn` is a `String` and it was an export from a database where this column is actually a `Seq[String]` so I now need to convert it back

[2018-09-10 23:53] #319 closed

[2018-09-11 21:43] imarios commented on #321
Hi @leobenkel sorry I've missed this question! yes, `withColumnTuple` is the way to add and drop columns with Frameless. If you go with `withColumn` you will need to define a new case class.

[2018-09-11 21:48] imarios commented on #320
Hi @leobenkel, I might be too tired to see things clearly, but I am not seeing the examples you show are equivalent. Where is the UDF part in the `.columnApply(myMethod, 'myColumn)`?

[2018-09-11 21:49] imarios commented on #301
After more thought, I realize this causes more issues that are harder to reason about than it solves.

[2018-09-11 21:49] #301 closed

[2018-09-11 21:52] leobenkel commented on #320
in this example, using my method, `myMethod` is of type `B => B` which is the type of `'myColumn` that is the `udf` method because the `columnApply` create the `udf` inside of it :
[code]

[2018-09-11 21:53] leobenkel commented on #321
But when using `withColumnTuple` I am loosing the name of all my columns. If I had `index, feature, label` and I use `withColumnTuple` I expect to see `index, feature, label, _1` but instead i see `_1,_2,_3,_4`

[2018-09-14 18:32] rossabaker opened #323 "cats-effect-1.0.0"
cats-effect-1.0.0 is out and intended for long term binary compatibility.  This would be worth an upgrade for the cats module.

I will take a look at implementing this.

[2018-09-14 22:11] imarios commented on #323
Please go ahead Ross!

Sent from my iPhone

[2018-09-19 07:28] #323 closed

[2018-11-14 05:21] oscarvarto opened #341 "Release for Scala 2.12 and Spark 2.4.0"
Spark 2.4.0 introduces experimental [Scala 2.12 support](https://spark.apache.org/releases/spark-release-2-4-0.html)

Is there any plan to make a new release for Scala 2.12?

[2018-11-15 03:38] imarios commented on #341
I really want to work on this. Probably this week or during thanksgiving break (I hope!). If anyone else wants a take at this, please help! Just add a message here so we don't duplicate effort.

[2018-11-15 03:42] imarios commented on #321
@leobenkel for some reason I missed this comment, apologies! So in the case where you need to keep the types it's better to use an `projection`. For example, `(x:X).project[B]`. The catch here is that you will need to define a new type `B`. The docs have more examples on this.

[2018-11-19 20:54] ceedubs commented on #341
I'm starting to poke around at this. If it ends up being a lot of work, then I probably won't be able to see it through to completion, but I can at least push any incremental work that I have done and maybe @imarios can pick it up from there?

[2018-11-19 22:38] imarios commented on #341
@ceedubs please go ahead let me know if you need any support!

[2018-11-19 22:49] ceedubs commented on #341
#342 submitted

[2018-12-10 13:54] kujon opened #343 "Parquet predicate pushdown doesn't seem to be working with timestamps"
Vanilla Spark:

[code]

Both, `IsNotNull` and `GreaterThanOrEqual` get pushed down nicely.

Frameless:

[code]

`IsNotNull` gets pushed down, while `GreaterThanOrEqual` doesn't.

[2018-12-11 23:38] imarios commented on #343
@kujo thanks for opening the ticket!

[2018-12-20 22:48] #341 closed

[2018-12-20 23:37] pmatpadi opened #356 "Support for spark-2.4.0 and Scala 2.11?"
I had the below code working well with spark-2.3.2 structured streaming and frameless version 0.7.0

val triggerProcessor = (jsonStr: String) => {
 //return int
}
val typedInputDs = TypedDataset.create(inputDs)
val udf = typedInputDs.makeUDF(triggerProcessor)
typedInputDs.select(udf(typedInputDs('value)))

I upgraded my application to  spark-2.4.0, the above code compiled fine, however failed at r

[2019-01-03 19:21] imarios commented on #356
@pmatpadi I think 0.8 release of Frameless should solve this for you. Can you give it a try?

[2019-01-07 05:57] pmatpadi commented on #356
Confirmed the fix. Thank you!

[2019-01-07 05:57] #356 closed

[2019-01-22 00:49] imarios commented on #317
Hi @schernichkin, can you give an example? `TypedDataset` does have a spark session defined. Do you need that exposed? I think an example will help define the ask.

[2019-01-22 01:00] imarios commented on #320
Hi Leo @leobenkel, I like anything that can simplify APIs and I really appreciate your effort! Having said that, I am not sure if feature this will be used a lot. Typically someone will create their methods, then created udfs, and then apply the udfs on the columns they need. I see this both in vanilla Spark and Frameless. Have an alternative method that simplifies this might be cool, but maybe no

[2019-01-22 02:21] imarios commented on #343
Notes on comparing encoders of Timestamps using Frameless and vanilla Spark:

[code]

whereas

[code]

One difference is that they generate schema with different nullable flags.

[2019-01-22 08:40] schernichkin commented on #317
Never mind. I thought it `public def` for some reason but it `private val`. It can be exposed though but absolutely not critical.

[2019-01-22 19:11] imarios commented on #343
I tried to replace the SQLTimestamp with an encoder that operates on `java.sql.Timestamp` and is closer to our encoding of native types. The predicate was pushed down in this case. As long as in this code here: https://github.com/typelevel/frameless/blob/0d52c03c6a485147c8e5b6745be7dcaed0b1119d/dataset/src/main/scala/frameless/functions/package.scala#L27-L32 we don't go into the `FramelessLit` pat

[2019-01-22 19:22] imarios commented on #317
@schernichkin thanks for bothering to bring this up! I am trying to clean up the issues these days. Would you mind if I close this one?

[2019-01-23 04:40] leobenkel commented on #320
you can clean up, its ok. It was useful to me and just wanted to share :)

[2019-01-23 04:40] #320 closed

[2019-01-23 08:00] schernichkin commented on #317
I don't mind. It was created by mistake.

[2019-01-23 08:00] #317 closed

[2019-01-28 12:03] kujon opened #358 "Joins seem to produce incorrect nullable values in the schema"
[code]

Schemas for the datasets before joins, are correct:
[code]

Left join however, effectively turns the right hand side into a hash map. rather than an optional case class:
[code]

The above should be this IMHO:
[code]

Casting to a case class doesn't seem to help the issue:
[code]

[2019-01-28 13:05] kujon commented on #358
Regular Spark seems to be getting this right:

[code]

[code]

[2019-01-28 17:59] imarios commented on #358
Hi @kujon, thanks for bringing this up. What version of Frameless and Spark are you using?

[2019-01-28 19:14] kujon commented on #358
@imarios spark 2.3.2 and frameless 0.7.0, but I managed to recreate it with the latest. See this PR https://github.com/typelevel/frameless/pull/359. I think I cracked the problem.

[2019-02-12 09:25] #358 closed

[2019-02-23 10:14] Michaelt293 commented on #257
I also just came across this issue. I took @imarios 's solution and generalised it a bit -
[code]

Unfortunately, this side steps the validation done with refined-
[code]

[2019-03-03 15:21] vipinchadha opened #366 "outer join"

[2019-03-03 15:21] #366 closed

[2019-03-03 21:05] vipinchadha opened #367 "Add documentation examples for left join and right join"
Hi,

I have recently started exploring frameless and trying to figure out joins. Especially left and right joins. Would it be possible to add additional examples in the documentation? It would really make it helpful. I can currently only find examples for inner joins.

Thanks

Vic

[2019-03-04 13:35] vc019 commented on #367
I have found the issue which I hit which made me raise this request - Issue #168. I was also hitting the same issue and hence the reason to look at the documentation.

[2019-05-17 16:57] charlescd commented on #145
Was writting an issue when I saw this one. I also encountered this with a non 'back-ticked' word : char
[code]

[2019-06-25 04:12] agaro1121 commented on #257
I'm also having an issue with this.
I was able to create a TypedEncoder for my case class with refined types but using the above but I still get an error regarding missing spark sql Encoder at runtime.

My code does something like:

[code]

I commented where I think the issue is. Could it be because I pull the dataset out of the TypedDataset?

[2019-07-06 15:26] SemanticBeeng commented on #282
Been thinking about this more.

Any interest to make `frameless` about more than `spark` only but cross frameworks?

Unischema : unifies #DataFabric schema over frameworks: "#ApacheSpark StructType, #Tensorflow tf.DType, #Numpy numpy.dtype"

https://twitter.com/semanticbeeng/status/1142400720324431873

Source https://eng.uber.com/petastorm/

This would advance the "beyond data pipeline" agenda and

[2019-07-18 23:22] joan38 commented on #39
Wow, I'm looking forward to have this if one day Spark compiles with 2.13.0

[2019-07-29 13:05] asm0dey opened #383 "Add support for explode map"
Currently, it looks like that explode on Maps won't work. Kindly add support

[2019-07-30 08:14] asm0dey opened #384 "Add support for left and right joins"
Currently there is no any sane way to join tables to then select.

[2019-07-30 08:16] asm0dey opened #385 "Add support for chained joins"
Currently there is no way to call several joins in chain. (ON condition fails to work with types)
It makes code much less readable because of hard-to-read variables names.

[2019-07-30 09:38] OlivierBlanvillain commented on #384
Can you provide an example of what you are trying to do in vanilla Spark to explain what part you are missing in frameless?

The feature overview ends with an example of join followed by a select:

https://github.com/typelevel/frameless/blob/0ed43bc8b28b2f7d070b0fdbc9aa8ceb6c09dc19/docs/src/main/tut/FeatureOverview.md#joins

We also have tests for left and right joins:

https://github.com/typeleve

[2019-07-30 09:41] asm0dey commented on #384
That doen't provide any ability to select from join :)

Absolutely, here is example:

[code]

[2019-07-30 09:42] OlivierBlanvillain commented on #383
Is this supported by Spark? If so, it should only be a mater of adding an implicit for `Map` alongside the other ones:

https://github.com/typelevel/frameless/blob/c7631766b384444077f109874d1e79e74234a539/dataset/src/main/scala/frameless/functions/UnaryFunctions.scala#L70-L77

[2019-07-30 09:46] asm0dey commented on #384
@OlivierBlanvillain BTW feature overview ends by inner join and select, not inner. And one cannot select from right table after laft join :)

[2019-07-30 09:52] asm0dey commented on #383
Of course it does. It produces 2 columns: key and value (comparing to existing implementation)

[2019-07-30 10:06] OlivierBlanvillain commented on #383
Cool :) If you want to give this a try it should be fairly straightforward first contribution!

[2019-07-30 10:34] asm0dey commented on #383
I'm absolutely have no idea on how to implement this: level of knowledge about spark is too low

[2019-07-30 11:31] OlivierBlanvillain commented on #384
I suppose you need to use `.colMany` instead of call in the select, as shown in Feature Overview example. I might be more tricky because of the optional column returned by certain types of joins, see the discussion in #168.

[2019-07-30 12:06] asm0dey commented on #384
But it won't work for the right tables, which effectively renders joinLeft (as well as full and right I suppose) unusable.
#168 doesn't give any information on how to use such types of join :)
Also, #168 is already almost a year old (possibly it already walks without the help of parents) and doesn't have any signs of being in the process of solving.

[2019-07-30 12:19] OlivierBlanvillain commented on #384
Why not? Is it because the right table is wrapped into an Option? If so this issue should be closed as duplicate of #168.

[2019-07-30 12:37] asm0dey commented on #384
Yes, looks like it's duplicate (or at least will be solved after #168 )

[2019-07-30 12:38] #384 closed

[2019-07-30 12:39] OlivierBlanvillain commented on #385
I suppose the issue here is also due to the results of join being wrapped into an Option, or is there something else to investigate?

[2019-07-30 12:40] asm0dey commented on #385
I'm not sure, but I don't think it's related to Option because it works with intermediate vals.

[2019-07-30 15:45] etspaceman commented on #232
+1 - This was a big blocker for us adopting Frameless.

[2019-09-18 19:54] kyprifog commented on #232
I'm curious why this never took off, my guess is that most typelevel people are using fs2 instead of spark streaming, but its still highly limited in that it can't out of the box do distributed streaming, just parallel streaming.  Maybe everyone is using flink instead?

[2019-09-26 11:44] dmateusp commented on #53
hey @imarios was this feature implemented ? I don't see an example of a Spark job with timeout anywhere in the code

[2019-11-11 14:59] ayoub-benali opened #399 "can't access colum when TypedDataset of primitive types"
It seems like frameless isn't aware of the TypedDataset schema when it contains only primitive types. Simple example to generate one would be:
[code]
Leads to
[code]
Eventhough `printSchema` shows:
[code]
Adding an `.as[Tuple1[Int]]` creates an other error:
`could not find implicit value for parameter as: frameless.ops.As[Int,(Int,)]`

After some operations on TypedDataset one can easily end-up wi

[2019-11-11 18:58] ayoub-benali commented on #399
I see that @kanterov recommended helping with an implicit `As` here:

[2019-11-19 20:11] niebloomj commented on #385
Its because you don't have an intermediate ds to reference in the second join. I would also like to see a fix for this.

[2020-01-15 09:22] mfelsche opened #411 "Columns of same type mixed up during grouping, select and as"
I took a TypedDataset of case class A, grouped it, mixing the order of two columns of the same type, resulting in a tupled dataset. I had to do this way, don't ask. To get stuff right again, I selected the columns in the right order again, and finally used `.as[A]` again to get me back a nice TypedDataset of my type `A`.

**Expected Behaviour:** Everything just as it has been, right columns ending

[2020-01-15 09:30] mfelsche commented on #411
Fiddling around further with the example, it seems the `select` doesn't have any effect. When collecting results before or after the select, the result remains the same:

[code]

[2020-02-07 16:24] mauriciojost opened #415 "Attributes containing `null` are not handled correctly when reading"
I write a parquet file where a few records contain `null` attribute values. When reading the parquet with `frameless`, there are corrupt fields. When reading it using the Spark API, the fields are as originally (contain `null`). The snippet to reproduce it by yourself:

[code]

If instead I use `0.7.0` the problems are slightly different, but at least no exception is through in the last scenario.

[2020-02-10 08:40] mauriciojost commented on #415
![image](https://user-images.githubusercontent.com/1756756/74133649-52647580-4be9-11ea-95ce-4b6d3f3daab6.png)
As per discussion in Gitter.

[2020-02-11 15:44] mauriciojost commented on #415
What is not clear is why this works while writing, but not while reading.

[2020-02-18 19:38] mossprescott commented on #168
Ran into this pretty quick as soon as we tried to do `joinLeft` and wondering if there's anything new to report. I asked in gitter as well; sorry for the spam!

[2020-03-03 16:19] achkatabeca commented on #385
Is is indeed a big problem, which prevent me from using the library as my use cases involve large number of complex joins.

[2020-04-17 14:36] ayoub-benali commented on #383
@OlivierBlanvillain `CatalystExplodableCollection` has the same issue as `CatalystSizableCollection`
It has only one hole for the type while Map needs two.
The easiest fix I see is to implement a second `explode` that accepts a Map instead of a `CatalystExplodableCollection`. Just like I did here https://github.com/typelevel/frameless/pull/255

If that works for you I can make a PR

[2020-05-11 10:41] chris-twiner opened #422 "UDF Performance Improvement"
When using FramelessUdfs the eval function spends a large time compiling, often dominating the actual running of the udf.  Moving the compiled codegen out to a lazy val _seems_ to remove the constant compilation and stop binding issues as it's only then called when eval is.
Of course I'm assuming this has been tried and failed for some reason I've not yet bumped into...

[2020-06-06 20:25] thesamet opened #427 "Add support for Spark 3 Preview"
It looks like some changes are going to be necessary due to API changes. See scalapb/sparksql-scalapb#97.

[2020-06-09 02:26] imarios commented on #427
Thank you Navad! We will definitely have a lot of work to do to support Spark 3.0.

[2020-06-10 16:14] ndhamija opened #428 "Seeing below Error when reading AVRO messages from Kafka Topic using Spark structured Streaming"
Seeing this Error in my Execution

Exception in thread "stream execution thread for [id = bf24558c-1749-4037-acd2-7638208464e6, runId = 6b280e35-5ee4-497c-941c-5c50b9c10f89]" java.lang.NoSuchMethodError: org.apache.spark.sql.catalyst.expressions.codegen.CodeGenerator$.boxedType(Lorg/apache/spark/sql/types/DataType;)Ljava/lang/String;

More Details here :

https://stackoverflow.com/questions/622948

[2020-06-12 17:01] #428 closed

[2020-06-19 11:17] ayoub-benali commented on #427
final version is released https://spark.apache.org/releases/spark-release-3-0-0.html
with scala 2.11 support dropped :tada:
I think next frameless version should do the same

[2020-06-24 17:23] SaiKiranBurle commented on #427
Eagerly waiting for this since spark 3 is officially released.

[2020-07-04 15:02] chris-twiner commented on #427
The interface issues are not too difficult to "fix" but there are still 56 test failures in dataset (298 passes) and I've clearly not fixed the udf interface change yet.

[2020-07-04 16:13] imarios commented on #427
@chris-twiner you made really good progress! Yes, I was expecting most of isuues to be around conversions of java/scala natives types back and forth to spark internal representations. That’s the area we used a lot of Spark’s internal interfaces. You are on the right track. If you open a PR I would try to help you get it in.

[2020-07-05 14:24] chris-twiner commented on #427
thanks @imarios - I'll try to get some more done today and at the very least fix up udf's.

[2020-07-06 11:20] chris-twiner commented on #427
@imarios I've raised #433 it seems most of the failures are due to this code in Analyzer:

[code]

the collect brings back two ordinals even when the type is Tuple1<X2> then complains it's trying to fit it into a tuple2, but the encoder is for tuple1.

[2020-07-07 16:22] chris-twiner commented on #427
Commit [a1a7d5b](https://github.com/typelevel/frameless/pull/433/commits/a1a7d5b6b7d465e10fb5e617a3e2ed0a8976e4c6) has the encoders all fixed up, the problem was ExpressionEncoder's transform only allows newInstance through with GetByOrdinal, BoundReference doesn't work and it must always be in an If(IsNull( ... etc.  Now with only 7 fails and 347 passed tests in dataset.

4 are due to ambiguous j

[2020-07-07 17:15] chris-twiner commented on #427
Those are fixed as well, not sure what is missing on the travis build though.  @imarios it looks complete now.

[2020-07-09 07:04] chris-twiner commented on #422
fixed as part of #427 and #433

[2020-07-09 07:04] #422 closed

[2020-08-02 00:04] chenharryhua opened #434 "Add typed syntax for RDD"
Spark Dataset and DataFrame have typed and unsafeTyped syntax to convert them to TypedDataset. it would be convenient to have the typed syntax for RDDs.
Thanks

[2020-08-27 18:43] SaiKiranBurle commented on #427
Hello, it looks like this work is done? Any ETA on release?

[2020-08-28 08:24] ayoub-benali commented on #427
@SaiKiranBurle there is a pending PR here https://github.com/typelevel/frameless/pull/433

[2020-08-31 04:14] #427 closed

[2020-09-03 16:46] paulfryzel opened #440 "Version 0.9 does not appear to be published"
Hello, re: Spark 3 support, with https://github.com/typelevel/frameless/pull/433 merged, are there plans to publish a 0.9.x with these updates?

Even though 0.9 is referenced in the readme, there doesn't appear to be a published package, https://index.scala-lang.org/typelevel/frameless/frameless-dataset/0.8.0?target=_2.12 (0.8 being the latest).

[2020-09-12 11:21] larsrh commented on #440
@imarios Should I run a release for frameless from current `master`?

[2020-09-26 10:34] goshaQ commented on #440
Hello, any updates on the planned release?
It is s a bit strange that after a month since the PR was merged into master there is still no published package

[2020-09-26 19:50] imarios commented on #440
So sorry @larsrh ! I didn't see this msg :(. Yes we are good to release 0.9 from master.

[2020-09-27 07:47] larsrh commented on #440
0.9.0 on its way to Maven Central.

[2020-09-27 07:47] #440 closed

[2020-09-27 11:15] larsrh opened #445 "Release automation"
sbt-release or something similar should be used for releases

[2020-09-29 14:07] paulfryzel commented on #440
Thanks @larsrh!

[2020-09-29 16:59] imarios commented on #440
@larsrh thank you so much!

[2020-10-23 12:34] ayoub-benali opened #452 "Aggregation with collectSet on empty dataset produces Null"
Consider the following example:
[code]
It produces `WrappedArray(null)` while the expected value would be `WrappedArray()` because the initial dataset is empty.
Please note that this bug happen only when `collectSet` is combined with an other aggregation. Aggregating only with `min` produces the expected result.

While using only `collectSet`
[code]
Produces `WrappedArray(Vector())` while the expe

[2020-10-26 16:42] MrPowers opened #453 "Easier withColumn method"
Great work on this lib!  It's a great way to write Spark code!

[As discussed here](https://github.com/typelevel/frameless/issues/321) and [in the docs](https://typelevel.org/frameless/FeatureOverview.html), `withColumn` requires a full schema when a column is added.

Here's the example in the docs:

[code]

Couldn't we just assume that the schema stays the same for the existing columns and only s

[2020-11-07 09:13] #415 closed

[2020-11-23 06:44] larsrh opened #462 "Builds on Travis CI won't execute"
A few weeks ago, I've migrated the build from travis-ci.org to travis-ci.com as an initial test if that speeds up our build (back then, the backlog on travis-ci.org was multiple hours).

Sadly, our free credits have just expired and Travis CI support has not yet agreed to allow us a quota of free credits. This means that builds are now stalled indefinitely.

In order to continue to do literally an

[2020-12-06 09:24] #462 closed

[2020-12-09 01:19] dsabanin commented on #411
@mfelsche did you find out what was causing it by any chance?

[2020-12-09 05:28] imarios commented on #453
Hey @MrPowers, sorry I missed this comment. I hear what you are saying. I definitely see this being easier, but unfortunately, this is nearly impossible to do. When you add a new column to `CityBeds` you essentially defining a new class, which, unless you have already defined it, it does not exist. That's why you have to define a new class pass it as a type parameter inside `withColumn`.

[2020-12-11 04:18] imarios commented on #453
@MrPowers I think I have a better answer for you. Say you have `TypedDataset[X]` where `X(i: Int, j: Int)` and you want to add an extra column where you add `i` with `j`.

[code]

As you see, your schema became from `X` to `Tuple2[X, Int]`. In this way, you defined a new column without losing the structure of `X`.

[2020-12-16 03:15] imarios opened #474 "Migrate documentation from tut to mdoc (builds failing because of Bintray shutdown)"
According to the main tut repository:

[2021-01-03 21:47] ayoub-benali commented on #399
@imarios should we consider this issue fixed by https://github.com/typelevel/frameless/pull/475 ?

[2021-01-03 21:50] ayoub-benali commented on #204
@imarios  I guess this one can closed due to https://github.com/typelevel/frameless/pull/479  ?

[2021-01-03 21:55] ayoub-benali commented on #168
@palmerlao https://github.com/typelevel/frameless/pull/479 helps with this issues.

[2021-01-06 03:18] imarios commented on #434
@chenharryhua can you provide an example please?

[2021-01-06 03:19] imarios commented on #399
@ayoub-benali absolutely. Let me close this one.

[2021-01-06 03:19] #399 closed

[2021-01-06 03:21] imarios commented on #204
@ayoub-benali yup. Let me close this one.

[2021-01-06 03:21] #204 closed

[2021-01-06 05:39] chenharryhua commented on #434
@imarios, Thanks for asking. I thought we can say:

[2021-01-06 21:22] #434 closed

[2021-01-20 04:44] imarios opened #487 "Release version 0.10.0"
Hey @larsrh! I think we are ready for a new release. Thank you!!

[2021-01-21 15:49] larsrh commented on #487
On it.

[2021-01-22 00:35] imarios commented on #487
Hey @larsrh! I didn't see the new artifacts propagated through maven central. Is it possible to check from your side? Thanks!

[2021-01-22 07:04] larsrh commented on #487
It's on Sonatype: https://oss.sonatype.org/content/repositories/public/org/typelevel/frameless-core_2.12/0.10.0/

Not sure why it hasn't synced to Central yet.

[2021-01-22 07:04] #487 closed

[2021-01-25 19:55] imarios commented on #487
Hey @larsrh, I can't see it being synced to central. Any idea what may be the reason?

[2021-01-26 21:23] larsrh commented on #487
In the hope that I haven't offended the Gods of Central again, I've just released 0.10.1.

[2021-01-28 18:15] imarios commented on #487
It worked :)

[2021-02-06 03:40] MrPowers commented on #453
@imarios - Thanks for the detailed responses.

I started brainstorming the idea of typed columns, [see here](https://github.com/MrPowers/bebe#typedfunctions), and think this idea might be useful for frameless as well.

Columns are untyped and that's a big reason why Spark is so type unsafe.  Typed columns can help us catch a lot more errors at compile time.  When we run `df("some_date")` it return

[2021-03-01 07:21] Vishvin95 commented on #174
I am also facing some error which is similar to this one. Could you please take a look at this?
``
yarn.ApplicationMaster: User class threw exception: java.lang.NoSuchMethodError: org.apache.spark.sql.catalyst.encoders.ExpressionEncoder.<init>(Lorg/apache/spark/sql/types/StructType;ZLscala/collection/Seq;Lorg/apache/spark/sql/catalyst/expressions/Expression;Lscala/reflect/ClassTag;)V
java.lang.NoS

[2021-03-02 03:57] imarios commented on #174
@Vishvin95 can you give a bit more details on your setup? What version of Frameless, Spark, etc. are you using?

[2021-03-11 21:11] imarios opened #506 "Fix compatibility issues with the Databricks runtime"
Fix is shown here: https://github.com/dsabanin/frameless/commit/1ce8f0b8b44b070f7f00079d65ec2c2f5dc42786
Thanks to @dsabanin for the fix!

[2021-04-12 17:44] cchantep commented on #257
Same for Value class. Any hint?

[2021-04-12 18:07] cchantep opened #516 "TypedEncoder not working with UDF (or not properly documented) for class having a field typed with a ValueClass"
Hi,

For now, using frameless 0.10.1, we cannot use value class as a field with `TypedEncoder` and `Injection`:

[code]

This compiles, but throw the following `Exception` at runtime:

[code]

[2021-04-12 21:39] cchantep commented on #516
In some case, adding `.andThen` as bellow to the UDF function, it works:

[code]

[2021-04-14 03:18] imarios commented on #516
Using UDF with injection like that can be tricky. You discovered a case where unfortunately things break at runtime, which is definitely not ideal. I assume what you want is you that you have some data that already encoded in B and you want to initialize them as a TypedDataset[A] using an Injection[A,B]. Is my assumption correct?

If that's the case, then simply read your data as a Dataframe of wi

[2021-04-14 10:58] cchantep commented on #516
Hi @imarios , thanks for your feedback. Goal is to be able to use UDF to convert data to instance of case where at some point fields are defined as ValueClass. Issue is mixing case class and value class, such as in the previous example.

[2021-04-14 15:54] imarios commented on #516
The suggestion I have above does what you need without having to use the UDF to convert them. With regards to your comment on ValueClass, are you saying that if Lorem was a case class, then everything would be fine?

[2021-04-14 17:21] cchantep commented on #516
I will check, but I doubt much that we can do without UDF.

[2021-04-14 17:57] imarios commented on #516
Let me know if case classes solves this (I feel we are going to see the same issue).

[2021-04-14 18:55] kanterov commented on #516
This issue reminds me https://github.com/typelevel/frameless/issues/161

[2021-04-14 19:00] cchantep commented on #516
@imarios yes if valueclass is refactored as case class it works, but that's not the wanted modeling.

And we cannot do without UDF.

[2021-04-16 01:07] pgrandjean opened #517 "Missing implemention errors"
I am trying to use frameless in Databricks. Thanks to advice on gitter, I made some code modifications as described in [dsabanin/frameless@1ce8f0b](https://github.com/dsabanin/frameless/commit/1ce8f0b8b44b070f7f00079d65ec2c2f5dc42786), based on frameless 0.8.0. However, running some tests related to my application, I am getting "an implementation is missing" errors.

The error is raised when reach

[2021-04-16 21:57] pgrandjean commented on #517
not sure if this is correct, but this seems to fix the problem:
[code]

[2021-05-15 09:28] larsrh commented on #474
Note that this ticket is the reason why we have a long backlog of failing PRs.

[2021-05-27 20:11] cchantep commented on #516
Even a `TypedDataset.create(seqOfSameModel).toDF()` is failing with the same issue (that is to say without UDF)

[2021-06-04 08:16] larsrh commented on #474
#539 disables tut altogether to get back to a working build

[2021-06-14 19:18] #474 closed

[2021-07-30 12:59] cchantep commented on #516
Still not working; Here is a full reproducer: https://github.com/cchantep/frameless-sandbox/blob/master/src/test/scala/EncoderSpec.scala#L33

[2021-07-30 15:16] cchantep commented on #516
Possible workaround: https://github.com/cchantep/frameless-sandbox/blob/master/src/test/scala/EncoderSpec.scala#L85

[2021-08-02 11:26] cchantep commented on #516
Seem that scalar and struct cases need to be handled differently: https://github.com/cchantep/frameless-sandbox/blob/master/src/test/scala/EncoderSpec.scala#L75

[2021-08-02 16:34] cchantep commented on #516
Also case of `Option` needs a specific handling: https://github.com/cchantep/frameless-sandbox/blob/master/src/test/scala/EncoderSpec.scala#L78

[2021-08-25 13:54] pomadchin opened #550 "Add CI releases"
Can be resolved via setting https://github.com/olafurpg/sbt-ci-release for the project. And to collect release notes we can use https://github.com/marketplace/actions/release-drafter.

[2021-08-25 21:59] pomadchin opened #553 "Scala 2.13 release"
This task is to track the progress of the Scala 2.13 transitioning progress. Starting Spark 3.2 would publish artifacts for Scala 2.13. This task is to track the cross compilation progress. Frameless depends on some libraries that may have no 2.13 releases (yet?).

[2021-08-26 17:33] pomadchin opened #554 "Spark 3.2.0 upgrade"
I think the internal API in 3.2.0 has slightly changed, I'll keep this issue as a reminder for us and this can be a nice and not complicated (hopefully) contribution.

[2021-09-04 21:46] pomadchin opened #559 "MIMA plugin usage"
This PR is to track the progress on setting the MIMA plugin to check library for binary compatability.

[2021-09-05 11:34] cchantep commented on #84
Closing it for now as #551

[2021-09-05 11:34] #84 closed

[2021-09-05 11:52] #559 closed

[2021-09-05 11:58] cchantep commented on #207
As inactive for ~4y, closing it for now.

[2021-09-05 11:58] #207 closed

[2021-09-06 16:36] #516 closed

[2021-09-07 13:17] cchantep commented on #257
I think it could be tried with the introduced `RecordFieldEncoder` (working for Value class)

[2021-09-07 13:51] cchantep commented on #39
Hi, closing it for now with #449 merged.

[2021-09-07 13:51] #39 closed

[2021-09-07 13:55] cchantep commented on #161
Closed by #546

[2021-09-07 13:55] #161 closed

[2021-09-07 14:05] cchantep commented on #553
As Spark 3.0 is still widely deployed and not compatible with 2.13, it would require version dependent source. Not sure it's worth it.

[2021-09-07 14:06] cchantep commented on #385
Is there a reproducer ?

[2021-09-07 14:19] pomadchin commented on #553
@cchantep Spark 3.2 is going to be compiled against Scala 2.13; I'd like to switch to 2.13 ASAP and to drop 2.12 in some of my projects.

[2021-09-07 14:59] cchantep commented on #553
But frameless cannot itself drop 2.12 or it won't be compatible with Spark 3.0/3.1.

[2021-09-07 15:00] pomadchin commented on #553
@cchantep sorry for confusion, I didn't mean to drop 2.12 frameless support, that was about my motivation to drop 2.12 in my projects that use Spark & Frameless.

[2021-09-07 15:10] pomadchin commented on #257
btw, using the bare injection leads to the following results: (see https://github.com/pomadchin/frameless/commit/82a32a42cfa32a209bb3aba175e5302d0d587e29)

TLDR;

Case classes that contain Optional refined types can be encoded and decoded. We can use the bare refined type as well. However, case classes with just refined types are failing.

- [ ] `case class A(a: Int, s: NonEmptyString)` (**fails**

[2021-09-07 15:10] cchantep commented on #553
Yes but my point, by experience, is that maintaining cross version sources is not a quickwin.

[2021-09-07 15:12] cchantep commented on #257
I would directly implements a `RecordFieldEncoder` for refined type as for Value class.

[2021-09-07 15:37] asm0dey commented on #385
@cchantep I'm not using frameless for couple of years already, but I clearly remember that I wanted to join 4 dataframes in one chain as I can do with datasets, like

[code]

[2021-09-07 18:42] pomadchin commented on #257
@cchantep would you be able to help with that if you have time? I just have a feeling that it tried to use the default decoder always for the string type %) (mb it works for optionals due to the type erasure in `Option` I guess)

[2021-09-08 21:05] cchantep commented on #257
Current error is :

[code]

Injection doesn't seem ok.

[2021-09-17 00:12] pomadchin commented on #553
https://github.com/ceedubs/irrec requires the 2.13 release.

[2021-10-03 02:24] pomadchin commented on #553
The WIP PR https://github.com/ceedubs/irrec/pull/331

[2021-10-04 20:45] cchantep opened #566 "Map[X, BigDecimal] not properly encoded"
[code]

[code]

[2021-10-24 18:23] vinkaga opened #575 "How to use it with Java POJOs"
Sorry, if the answer is already covered. I haven't succeeded based on the documentation so far.

I am reading AVRO encoded data into Spark which is represented by a hierarchy of Java POJOs with a single top level object. Reading into Spark generates `Dataset[Row]` output. I am trying to convert it into `TypedDataset[MyTopPojo]` as follows
[code]
But that generates error
[code]
What do I need to do

[2021-10-26 14:36] #553 closed, assigned to nobody

[2021-10-26 14:36] #554 closed, assigned to nobody

[2021-10-28 03:00] chenharryhua opened #576 "provide TypedEncoder for java.time.{Instant, Duration, Period} in Spark 3.2"
Spark 3.2 provide native encode support to Instant, Duration, Period. it would be nice to provide TypedEncoder instance for those types.

[2021-11-07 22:12] pomadchin opened #579 "Frameless 0.11 release"
Let's plan the release! Are we okay with cutting the release right away; or we'd like to get merged smth in before the release?

We have a couple of outstanding PRs (which are in progress for a very long time) and the fresh https://github.com/typelevel/frameless/issues/576 which seems to be a low hanging fruit.

Are there any thoughts? @cchantep @imarios

If there are no objections I'm going to pu

[2021-11-08 22:06] imarios commented on #579
Hello! Makes sense to me. Do we have a list of improvements (aka release notes) since the last release?

[2021-11-08 22:16] cchantep commented on #579
https://github.com/typelevel/frameless/pulls?q=is%3Apr+is%3Amerged+label%3Abug%2Cfeature%2Cenhancement+updated%3A%3E2021-01-01

[2021-11-08 22:28] pomadchin commented on #579
@imarios @cchantep Also check the release draft we have! https://github.com/typelevel/frameless/releases/tag/untagged-e7d42bc54c95c202d566

[2021-11-09 01:29] pomadchin commented on #575
@vinkaga you'd need to convert `Row` into the `MyTopPojo` yourself. This is not the best way to do it but you can use Spark machinery to handle it:

[code]

[2021-11-09 09:36] cchantep commented on #579
Fine for me

[2021-11-09 14:52] pomadchin commented on #579
On maven central! https://repo1.maven.org/maven2/org/typelevel/frameless-core_2.13/0.11.0/
Release https://github.com/typelevel/frameless/releases/tag/v0.11.0

[2021-11-09 21:23] jgoday commented on #576
Hi, I would like to try this one if possible,
considering that it is the first time that I try frameless,
(starting to look to some typelevel/cats projects).

As I can see in the current spark docs (3.2),
catalyst types for Instant, Duration and Period are Long and Int.

Would it be enough to provide custom TypedEncoder for these types with catalystRepr (being Long and Int) ?

[2021-11-09 23:00] pomadchin commented on #576
Hey @jgoday, thanks for looking into this issue! I think it could be enough. Spark [uses](https://github.com/apache/spark/blob/84c5ca33f95e982a15efd514f103e4b85c273567/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/DeserializerBuildHelper.scala#L85-L128) these DateTime utils though ([example for instant](https://github.com/apache/spark/blob/84c5ca33f95e982a15efd514f103e4b85c273567/sql/c

[2021-11-10 19:17] jgoday commented on #576
Ok, thank you so much @pomadchin.
I was able to test it against spark 3.0.3, 3.1.2 and 3.2.0 with no problem, but there is no DayTimeIntervalType and YearMonthIntervalType sql types prior 3.2, so I have used the following ones as catalyst types for:
1. java.time.Period -> IntegerType (days)
2. java.time.Duration -> LongType (millis)

I don't know if it is the best approach.

Should I make a PR ?

[2021-11-10 19:19] pomadchin commented on #576
@jgoday yep don't hesistate to rise a PR! We can discuss what to do there.

But indeed, these are all good questions. How that behaves in 3.0 and 3.1 than?

[2021-11-10 20:38] jgoday commented on #576
@pomadchin, I have created this PR #581.

EncoderTests and a sample with Duration, Period and Instant
seems to work fine with all versions (3.0, 3.1 and 3.2)
[code]

[2021-11-12 17:39] vinkaga commented on #575
Here's what I tried
[code]
I got error on map line
[code]
And on the last line
[code]

[2021-11-12 17:51] pomadchin commented on #575
@vinkaga oh that is PoJo not a case class, reading bad. You would need to manually define the TypedEncoder for your type:

I'm using [this helper](https://github.com/locationtech/rasterframes/blob/develop/core/src/main/scala/org/locationtech/rasterframes/encoders/ManualTypedEncoder.scala) to deal with it (actually mb it is worth moving it into frameless).

Usage example:

[code]

[code]

[2021-11-12 17:55] vinkaga commented on #575
@pomadchin, `MyTopPojo` is several levels deep hierarchical Pojo. Is it possible to have the encoder be built without extensive manual work?

[2021-11-12 17:58] pomadchin commented on #575
@vinkaga I actually noticed in your example:

[code]

[2021-11-12 18:30] vinkaga commented on #575
@pomadchin, with that, I am still getting the errors. Not sure how to proceed further.

[2021-11-12 18:36] pomadchin commented on #575
hey @vinkaga I will find time to try smth out later this week, however, to make a more general solution I think it is possible to do a semiautomatic derivation for pojo classes via https://github.com/limansky/beanpuree

[2021-11-26 14:22] AlexisBRENON commented on #411
Hi. I reproduce a similar bug with an even simpler case.
Just load partitionned data with the partitioning column being the fisrt case class field. The column is appended at the end of the schema, and collecting the data results in field inverted.
https://github.com/typelevel/frameless/compare/master...AlexisBRENON:case_class_support#diff-dd83f3b1d1a249804b5620473177ce6034efbc5f36b45a9b1ef01283caf

[2021-11-27 14:22] #383 closed

[2021-12-01 10:45] timshen24 opened #585 "spark-sql 3.1.2 can't work with frameless-dataset 0.11.1"
My sbt file:
[code]

It will complain

	at frameless.RecordEncoder.$anonfun$toCatalyst$2(RecordEncoder.scala:154)
RecordEncoder.scala:154
	at scala.collection.immutable.List.map(List.scala:293)
List.scala:293
	at frameless.RecordEncoder.toCatalyst(RecordEncoder.scala:153)
RecordEncoder.scala:153
	at frameless.TypedExpressionEncoder$.apply(TypedExpressionEncoder.scala:28)
TypedExpressionEncoder.sca

[2021-12-01 12:21] pomadchin commented on #585
Hi @timshen24, yes we know. Try the `"org.typelevel" %% "frameless-dataset-spark31" % "0.11.1"` dependency.

`frameless-dataset` is published against Spark 3.2.x which is binary incompatible with 3.1.x; however, since frameless 0.11 we publish artifacts cross scala as well as cross Spark versioned; artifacts for previous Spark version have the `-spark{major}{minor}` suffix. The mainline artifact f

[2021-12-01 14:26] timshen24 commented on #585
Thank you for the instant reply.

But setting ```libraryDependencies += "org.apache.spark" %% "spark-sql" % "3.2.0"
libraryDependencies += "org.typelevel" %% "frameless-dataset" % "0.11.1"``` still not works for me.

It will report compile error for not finding all SparkSession, DataFrame, DataSet class, etc.

[code]

[2021-12-01 14:54] pomadchin commented on #585
@timshen24 3.2.0 didn't work for you due to other libraries spark versions mismatch. If you want to use Spark 3.2.0 review your deps i.e.  `spark-fast-tests` should be of version`2.3.0_0.11.0` and `spark-daria` does not support Spark 3.2 at all.

I'm closing this issue for now, since it is not a frameless issue anymore, but feel free to reopen it again if needed.

[2021-12-01 14:54] #585 closed

[2022-01-26 01:38] armanbilge opened #598 "Snapshot publish failed"
https://github.com/typelevel/frameless/runs/4945837969?check_suite_focus=true

Sorry 😅 harder than I realized 🤔 I'm looking into it.

[2022-01-26 03:21] #598 closed

[2022-01-31 13:41] thesamet opened #605 "Compatibility with Spark 3.2.1"
A [change in Spark 3.2.1](https://github.com/apache/spark/pull/35243) broke binary compatibility with 3.2.0 by adding a parameter with default value to `class Invoke`. This breaks the call in Frameless RecordEncoder:

[code]

I believe that cutting a new release could break compatibility with 3.2.0. I filed https://issues.apache.org/jira/browse/SPARK-38077.

[2022-01-31 14:04] pomadchin commented on #605
@thesamet thx for the report, yes we can definitely rollback the dep. back if that’s the case.

[2022-01-31 14:09] thesamet commented on #605
I think it'd be impossible to have a single frameless build that works with both Spark 3.2.0 and Spark 3.2.1 without resorting to reflection or some other means to figure out which instance of `Invoke` is available at runtime...  Moving in either direction will break it for some people :/

[2022-01-31 14:11] pomadchin commented on #605
One thing that I can suggest is to wait for a little, mb this regression will be fixed in the future Spark releases, at this point 0.11.1 and snapshots are pretty much the same, with the Spark version difference mostly :/

[2022-02-01 14:39] Daenyth opened #607 "Cats-effect 3 roadmap"
Is there a plan to support cats-effect 3? The readme only lists support for CE2, and at this point the typelevel ecosystem universally recommends moving on to CE3 for a variety of reasons

[2022-02-01 14:45] pomadchin commented on #607
Hey @Daenyth thanks for creating an issue & that is definitely on the radar.

I don't have much time to spend on it at the moment though. However, if you'd like to create a PR, I'll be happy to help you, so we could push it forward, if that is blocking for you. 🚀

[2022-03-06 00:42] pomadchin opened #615 "CI release failure"
At this point the release is failing (see https://github.com/typelevel/frameless/runs/5435773484?check_suite_focus=true)

I'm wondering, what could have triggered that, since it looks like after merging #614 releases were successful, see https://github.com/typelevel/frameless/actions/runs/1923599368.

@armanbilge do you have any thoughts about it? (sry for pinging you there).

I may also try to do

[2022-03-06 00:43] armanbilge commented on #615
No worries :)

Yes, you need someone to remove the secrets on this repository. See https://github.com/orgs/typelevel/teams/maintainers/discussions/6 for more details.

[2022-03-06 00:44] armanbilge commented on #615
Btw, changing the plugin won't help, because the change happened externally on sonatype (they moved `org.typelevel` to s01).

[2022-03-06 00:47] pomadchin commented on #615
@armanbilge oufff don't have access to this discussion either.
Nice that it's just credentials move, I remember that being in plans; summoning @rossabaker to upd credentials for this repo!

[2022-03-06 00:59] armanbilge commented on #615
Oh, I'm sorry about that :( I'm sure @rossabaker can add you to the maintainer team as well, it must have been an oversight.

Anyway the discussion just explains what s01 is and says to remove the secrets from the repository. We installed new org-level secrets that they are overriding actually 😆

[2022-03-06 01:00] pomadchin commented on #615
OMG, that's cool.

[2022-03-06 02:50] rossabaker commented on #615
I removed the repo credentials, so it should inherit the new org credentials.  I also invited @pomadchin to the frameless team, which is a child of the maintainers team, which grants access to announcements like Arman's.

If anything's still a mess, please ping me again.

[2022-03-06 04:28] pomadchin commented on #615
Thanks @rossabaker 🎉 it all works now! Closing this issue.

[2022-03-06 04:28] #615 closed

[2022-03-15 19:30] #607 closed

[2022-03-31 07:53] #576 closed

[2022-03-31 07:55] cchantep commented on #575
I think this can be closed for now.

[2022-03-31 07:55] #575 closed

[2022-03-31 08:35] cchantep commented on #80
Spore is dormant, so I think this can be closed for now.

[2022-03-31 08:35] #80 closed

[2022-04-07 17:25] chris-twiner commented on #605
Is it not possible to just put "-3.2.1" into the artefact name for a 'special' 3.2.1 build?  Source code wise it's fine*, we'd just need to reflect the special status of the dataset for 3.2.1 users e.g. frameless-dataset-3.2.1_2.12 etc.

This would force users to specify which version to use only downside is dependant libraries would have to either use provided scope (and force their users to choo

[2022-04-07 17:36] chris-twiner commented on #605
I'd definitely be up for a clean 3.2.1 official version, I've already got lots of workarounds in play, using official frameless again would be one less

[2022-04-07 17:55] pomadchin commented on #605
@chris-twiner cool, if it helps you, I can cut `0.12.0` a release rightaway (also snapshots should work for you at the moment), if you need it; I think we had a fair amount of changes and + you asked for a release. I hope no one has anything against it; cc @imarios @cchantep do you have anything else you'd like to get into 0.12.0?

[2022-04-07 22:57] cchantep commented on #605
Fine for me

[2022-04-09 16:17] pomadchin commented on #605
@chris-twiner https://github.com/typelevel/frameless/releases/tag/v0.12.0 🚀

[2022-05-15 23:15] pomadchin commented on #605
This is internal API, won't fix (c)

See https://issues.apache.org/jira/browse/SPARK-38077 and https://github.com/apache/spark/pull/35378 to follow the discussion chain.

[2022-05-15 23:15] #605 closed

[2022-06-15 20:43] frgomes opened #638 "How should parse and convert data from an external medium in a generic way?"
I would like to create a generic `TypedDataset[T]` where `T` is generic.

For more context on the topic, I would like to point to a similar question on StackOverflow which gave me some ground for experimentation:
https://stackoverflow.com/questions/55637342/implicit-encoder-for-typeddataset-and-type-bounds-in-scala

After a lot of experimentation, I've finally got to a case class which describes w

[2022-06-16 01:26] frgomes commented on #638
Answering my own questions:

### Question1: Shouldn't I employ encoders/decoders from ``frameless`` instead of using ``kryo``?

Yes, using ``kryo`` is not need at all. I was actually confused with ``frameless`` API and resorted to ``kryo`` instead of using the code below:

[code]

### Question2: How can I circumvent the limitation of 22 fields per class?

First, it depends on which Scala version y

[2022-07-14 01:47] pomadchin commented on #638
I think this question has been resolved for now, but please don't hesitate to reopen it / open a new issue @frgomes!

[2022-07-14 01:47] #638 closed

[2022-07-22 11:51] pomadchin opened #651 "Frameless 0.13 release"
Let's plan the new release! With the Spark 3.3 release I had a (single) question in the Discord channel, but mb it's time to cut. I don't see any blockers frankly.

Are there any thoughts? @cchantep @imarios

[2022-07-23 20:34] cchantep commented on #651
Fine for me

[2022-07-24 20:00] pomadchin commented on #651
https://github.com/typelevel/frameless/releases/tag/v0.13.0

[2022-07-24 20:00] #651 closed

[2022-10-06 14:50] oroundtree commented on #411
I've been seeing this issue as well when using scalapb-sparksql and a flow that uses encoders to create Datasets of both protobuf-derived types and normal scala case classes.

When I define the following case class:
[code]
And then cast a dataframe with identical column names and types and map using a function which takes the above type as input
[code]
It will fail in that customerClientServiceFun

[2022-10-18 19:28] jckegelman commented on #506
Hi. I am running into this issue, specifically

[code]

when running the [example UDF code](https://scalapb.github.io/docs/sparksql#udfs) found on the [Using ScalaPB with Spark](https://scalapb.github.io/docs/sparksql) page. This is similar to what is reported on stackoverflow [here](https://stackoverflow.com/questions/71292511/java-lang-verifyerror-class-frameless-functions-spark2-4-lambdavariabl

[2022-11-12 19:12] rituparnakhaund commented on #58
Was this resolved? I am facing the same issue rn